.bcard {
  box-shadow: 0 0 10px 1px gainsboro !important;
  cursor: pointer;
  overflow: hidden;
}

.bcard:hover {
  box-shadow: 0 0 10px 5px gainsboro !important;
  /* background: yellow !important; */
}

.bcard_img {
  object-fit: contain;
  margin: auto;
  border-radius: 4px !important;
}

.bcard_like {
  position: absolute;
  top: 5%;
  left: 5%;
}

.bcard_like:hover {
  animation: heartbeat 0.7s infinite;
}

.bcard_like_icon {
  opacity: 1 !important;
}

.bcard_dontlike_icon {
  opacity: 0.5 !important;
  color: gainsboro;
}

.bcard_more_btn:hover {
  background: rgba(220, 220, 220, .2) !important;
}

.bcard_more_btn {
  position: absolute;
  right: 2%;
  bottom: 2%;
  background: transparent !important;
}

.bcard_more_icon {
  color: gainsboro;
  opacity: 0.8;
}

.bcard_cover {
  position: absolute;
  top: 100%;
  left: 0;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  cursor: default;
  box-shadow: 0 0 10px 1px gainsboro;
  opacity: 0;
  /* pointer-events: none; */
}

.bcard_cover .row {
  padding: 5px !important;
}

.bcard_score {
  line-height: 100%;
}

@keyframes heartbeat
{
  0%   { transform: scale( 1.3 ); }
  100% { transform: scale( 1 );   }
}

@keyframes bcard_more {
  /* 0% { opacity:0 } */
  100% { opacity:1; top:30%; }
}

@keyframes bcard_less {
  0% { opacity:1; top:30%; }
  /* 100% { opacity:0; top:100%; } */
}
