.blocks {
  background: none !important;
  /* position: relative; */
  /* padding: 10px !important; */
}

.block-container {
  background: none;
  padding: 1% !important;
}

.block {
  box-shadow: 0 0 10px rgba(0,0,0,0.15) !important;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s !important;
  /* margin: 0px !important; */
  /* position: absolute;
  width: calc(100%/3 - 50px) !important; */
  /* background: orange !important; */
}

.block:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.3) !important;
}

.block:hover .block-aware {
  opacity: 1;
}

.block-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.block-base {
  background: none;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.block-aware {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: none;
  transition: opacity 0.2s;
  /* text-align: center; */
}

.block-aware-icon {
  background: none;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  position: absolute;
  color: rgba(248,0,0,1);
  stroke-width: 3;
}

.block-like {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15%;
  height: 15%;
  background: none;
}

.block-like:hover {
  /* animation: heartbeat 0.7s infinite; */
  transform: scale( 1.3 );
}

.block-like-icon {
  background: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.block-like-icon[state='like'] {
  opacity: 1;
  fill: rgba(248,0,0,1);
  stroke-width: 1;
}

.block-like-icon[state='dontlike'] {
  opacity: 0.5;
  fill: none;
  color: gainsboro;
}

.block-more-btn:hover {
  background: rgba(220, 220, 220, .2) !important;
}

.block-more-btn {
  position: absolute;
  right: 2%;
  bottom: 2%;
  background: transparent !important;
}

.block-more-icon {
  color: gainsboro;
  opacity: 0.8;
}

.block-cover {
  position: absolute;
  top: 100%;
  left: 0;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  cursor: default;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  opacity: 0;
  /* pointer-events: none; */
}

.block-cover .row {
  padding: 5px !important;
}

.block-score {
  line-height: 100%;
}

/* @keyframes heartbeat
{
  0%   { transform: scale( 1.3 ); }
  100% { transform: scale( 1 );   }
} */

@keyframes block-more {
  /* 0% { opacity:0 } */
  100% { opacity:1; top:30%; }
}

@keyframes block-less {
  0% { opacity:1; top:30%; }
  /* 100% { opacity:0; top:100%; } */
}
