{% extends "layout.html" %}

{% block header %}
  {% include "brand_detail_header.html" %}
{% endblock header %}

{% block content %}
  {% include "brand_detail_content.html" %}
{% endblock content %}

{% block footer %}
  {% include "footer.html" with brand_act="active" %}
{% endblock footer %}

{% load static %}
{% block js %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.ui.rating').rating();
      $('#multi-select').dropdown();

      $.get('{% url "interest_trend" brand.name %}', function(data) {
        var ctx = $("#interest_trend").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line',
            data: data,

            options: {
              elements: { point: { radius: 0 } },
              scales: {
                xAxes: [{
                    type: 'time',
                    time: {unit: 'month'}
                }]
              },
              legend: {
                  display: false,
                  labels: {fontColor: 'rgb(255, 99, 132)'}
              }
            }

        });
      });
    });
  </script>
{% endblock js %}
