<style>
  .bcard {
    box-shadow: 0 0 10px 1px gainsboro !important;
    cursor: pointer;
    overflow: hidden;
  }

  .bcard:hover {
    box-shadow: 0 0 10px 5px gainsboro !important;
  }

  .bcard_img {
    object-fit: contain;
    margin: auto;
    border-radius: 4px !important;
  }

  .bcard_like {
    position: absolute;
    top: 5%;
    left: 5%;
  }

  .bcard_like:hover {
    animation: heartbeat 0.7s infinite;
  }

  .bcard_like_icon {
    opacity: 1 !important;
  }

  .bcard_dontlike_icon {
    opacity: 0.5 !important;
    color: gainsboro;
  }

  .bcard_more_icon {
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: 0.5 !important;
    color: gainsboro;
  }

  /* .bcard_more_icon:hover + .bcard_cover {
    animation: bcard_more 0.5s forwards;
  } */

  .bcard_cover {
    position: absolute;
    top: 100%;
    left: 0;
    height: 70%;
    width: 100%;
    background: whitesmoke;
    /* pointer-events: none; */
  }

  @keyframes heartbeat
  {
    0%   { transform: scale( 1.3 ); }
    100% { transform: scale( 1 );   }
  }

  @keyframes bcard_more {
    0% { opacity:0 }
    100% { opacity:1; top:30%; box-shadow:0 0 10px 1px gainsboro }
  }

  @keyframes bcard_less {
    0% { opacity:1; top:30%; box-shadow:0 0 10px 1px gainsboro }
    100% { opacity:0 }
  }
</style>

{% load el_pagination_tags %}

{% if brands.all %}
  {% lazy_paginate 40,10 brands.all as all %}
  {% for brand in all %}
    {% include "app/brand_card.html" with brand=brand %}
  {% endfor %}
  {% show_more %}
{% endif %}

{% if brands.recommend %}
  {% lazy_paginate brands.recommend as recommend %}
  {% for brand in recommend %}
    {% include "app/brand_card.html" with brand=brand %}
  {% endfor %}
  {% show_more %}
{% endif %}

{% if brands.not_recommend %}
  <div class="ui horizontal divider header">Not Recommend</div>
  {% lazy_paginate brands.not_recommend as not_recommend %}
  {% for brand in not_recommend %}
    {% include "app/brand_card.html" with brand=brand %}
  {% endfor %}
  {% show_more %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/semantic/semantic.min.js"></script>

<script>
  $(window).resize(function(){
    var width = $(".bcard").width();
    $(".bcard").css("height", width+"px");
    $(".bcard_img").css({"width":width+"px", "height":width+"px"});
    $(".bcard_like").css("font-size", width*0.15);
  });

  $(window).trigger('resize');

  function bcard_more(event, icon) {
    event.stopPropagation();
    $(icon).siblings(".bcard_cover").css({"animation":"bcard_more 0.5s forwards"});
  };

  function bcard_cover_mouseleave(bcard_cover) {
    $(bcard_cover).css({"animation":"bcard_less 0.5s forwards"});
  };


  function bcard_click(bcard) {
    var url = $(bcard).attr("href");
    window.location.assign(url); //.replace()로 하면 history가 저장 안된다
    // window.location.replace(url);
  };

  // function like_mouseover(obj) {
  //   var icon = $(obj).children(".like.icon")
  //   icon.css({
  //     "animation": "heartbeat 0.7s infinite"
  //   });
  // };
  //
  // function like_mouseout(obj) {
  //   var icon = $(obj).children(".like.icon")
  //   var state = icon.attr("state");
  //   var opacity;
  //
  //   if (state=="like") {
  //     opacity = 1;
  //   } else {
  //     opacity = 0.5;
  //   };
  //
  //   icon.css({
  //     "opacity": opacity,
  //     "animation": ""
  //   });
  // };

  function toggle_like(event, obj) {
    event.stopPropagation();
    var icon = $(obj).children(".icon");
    var state = icon.attr("state");
    var bname = $(obj).parents(".bcard").attr("bname");
    var data;

    if (state=="like") {
      icon.attr({"state":"dontlike", "class":"bcard_dontlike_icon outline heart icon"});
      icon.css({"opacity":0.5, "color":"gainsboro"});
      data = {dontlike:bname};

    } else {
      icon.attr({"state":"like", "class":"bcard_like_icon yellow heart icon"});
      icon.css({"opacity": 1, "color": ""});
      data = {like:bname};
    };

    $.ajax({
      url: {% url 'save_like' %},
      async: true,
      type: 'GET',
      data: data,
      dataType: 'json',
      success: function(jqXHR) {
        if (!jqXHR.success) {
          alert("데이터를 처리하는데 문제가 발생하였습니다.");
        };
      }
    });
  };
</script>
