{% load ctags %}
{% if brand %}

{% if opt == 'leveltest' %}
<div class="block card" bname="{{ brand.name }}" awared="no" href="{% url 'brand_detail' brand.name %}" onclick="block_awared(this)">
  <div class="block-base">
    <img class="block-img" src="{{ brand.logo.url }}" alt="{{ brand.name }}" style="object-fit:contain;" onload="load_block(this)">
    <div class="block-aware">
      <i class="block-aware-icon" data-feather="check"></i>
    </div>
  </div>
</div>

{% else %}
<div class="block card" bname="{{ brand.name }}" href="{% url 'brand_detail' brand.name %}" onclick="block_click(this)">

  <div class="block-base">
    <img class="block-img" src="{{ brand.logo.url }}" alt="{{ brand.name }}" style="object-fit:contain;" onload="load_block(this)">
    <div class="block-like" onclick="toggle_like(event, this)">
      {% if user.is_authenticated and user|likes_this:brand %}
        <i class="block-like-icon" data-feather="star" style="" state="like"></i>
      {% else %}
        <i class="block-like-icon" data-feather="star" style="" state="dontlike"></i>
      {% endif %}
    </div>
  </div>

  {% if opt == "more" %}
  <div class="block-more">
    <button class="block-more-btn ui compact icon button" onclick="block_more(event, this)">
      <i class="block-more-icon ellipsis horizontal icon"></i>
    </button>

    <div class="block-cover" onclick="block_cover_click(event, this)" onmouseleave="block_cover_mouseleave(this)">
      <div class="ui centered grid">
        {% if brand.score %}
        <div class="row">
          <div class="block-score">
            <span class="block-stat-value">{{ brand.score }}</span><br>
            <span class="block-stat-label">유사도 %</span>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <button class="ui mini compact labeled icon basic button" onclick="compare(this)">
            <i class="exchange icon"></i>
            COMPARE
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endif %}
{% endif %}


{% if post %}
<div class="block card" post-id="{{ post.pk }}" href="{% url 'post_detail' post.pk %}" onclick="block_click(this)">
  <div class="block-base">
    <img class="block-img" src="{{ post.image.url }}" style="object-fit:cover;" onload="load_block(this)">
    <div class="block-like" onclick="toggle_like(event, this)">
      {% if user.is_authenticated and user|likes_this:post %}
        <i class="block-like-icon" data-feather="star" style="" state="like"></i>
      {% else %}
        <i class="block-like-icon" data-feather="star" style="" state="dontlike"></i>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
