<style>
  text:hover {
    fill: black !important;
    font-weight: bold;
  }

  .label-background-strong {
    fill: black;
    fill-opacity: 1;
  }

  .detailsec {
    padding-bottom:50px !important;
  }

  .detailsec .header {
    font-size: 20px !important;
  }

  .detailsec .content {
    padding: 20px;
  }

  .metabutton {
    background: transparent !important;
  }

  .metabutton:hover {
    background: rgba(220, 220, 220, .2) !important;
  }
</style>

<div style="position:fixed;top:50%;z-index:100">
  <i class="green angle left huge icon link" onclick="window.history.back()"></i>
</div>


<div class="ui fluid container" style="height:200px;background:white;margin-top:50px;">

  <div class="ui text container">
    <div class="ui items" style="background:none;padding:20px;">
      <div class="item">
        <div class="image" style="width:160px;height:160px;">
          <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" class="ui centered image" style="object-fit:cover;">
        </div>

        <div class="content" style="background:none;padding-top:20px">
          <h3 class="ui header" style="text-transform:capitalize;">
            {{ brand.fullname_en }}
            <div class="sub header">{{ brand.fullname_kr }}</div>
          </h3>

          <div class="meta">
            <div class="metabutton ui compact mini button">{{ brand.origin }}</div>
            <a class="metabutton ui compact icon mini button" href="//{{ brand.website }}" target="_blank"><i class="home icon"></i></a>
          </div>

          <!-- <div class="extra">
            <div class="ui mini compact button">
              test1
            </div>
            <div class="ui mini compact button">
              test2
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </div>

  <!-- <div class="ui grid text container" style="background:none">
    <div class="six wide column" style="background:none;padding:0">
      <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" class="ui centered image" style="object-fit:cover;width:200px;height:200px">
    </div>

    <div class="ten wide column">
      <p>{{ brand.fullname_en }} ({{ brand.fullname_kr }})</p>
      <p>{{ brand.origin }}</p>
      <p>
        <a href="//{{ brand.website }}" target="_blank">{{ brand.website }}</a>
      </p>
    </div>
  </div> -->



  <!-- <table class="ui selectable celled unstackable very compact small definition table">
    <tbody>
      <tr>
        <td class="right aligned three wide">Name</td>
        <td class="left aligend thirteen wide">{{ brand.fullname_en }} ({{ brand.fullname_kr }})</td>
      </tr>

      <tr>
        <td class="right aligned">Origin</td>
        <td class="left aligend">{{ brand.origin }}</td>
      </tr>

      <tr>
        <td class="right aligned">Description</td>
        <td class="left aligend">{{ brand.description }}</td>
      </tr>

      <tr>
        <td class="right aligned">History</td>
        <td class="left aligend">{{ brand.history }}</td>
      </tr>

      <tr>
        <td class="right aligned">Website</td>
        <td class="left aligned selectable">
          <a href="//{{ brand.website }}" target="_blank">
            {{ brand.website }}
          </a>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>



<div class="ui text container segments">

  <div class="detailsec ui padded segment">
    <div class="ui header">Brand identity</div>
    <div class="content">
      <canvas id="bid" width="200" height="200" style="max-width:350px;max-height:350px;margin-left:auto;margin-right:auto"></canvas>
    </div>
    <br>
  </div>


  <div class="detailsec ui padded segment">
    <div class="ui header">Similar brands</div>
    <div class="content">
      <div class="ui four doubling brandlist cards">
        {% for sbrand in brand.simbrands.top %}
          {% include "app/brand_card.html" with brand=sbrand type='more' %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="detailsec ui padded segment">
    <div class="ui header">Different brands</div>
    <div class="content">
      <div class="ui four doubling brandlist cards">
        {% for sbrand in brand.simbrands.bottom %}
          {% include "app/brand_card.html" with brand=sbrand type='more' %}
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="detailsec ui padded segment">
    <div class="ui header">Keywords</div>
    <div class="content">
      <div id="wordcloud" style="text-align:center"></div>
    </div>
  </div>


  <div class="detailsec ui padded segment">
    <div class="ui header">Interest trend</div>
    <div class="content">
      <canvas id="trend"></canvas>
    </div>
  </div>

  <div class="detailsec ui padded segment">
    <div class="ui header">Top searches</div>
    <div class="content">
      <table class="ui very basic fixed selectable unstackable very compact table">
        <tbody id="query_top"></tbody>
      </table>
    </div>
  </div>

  <div class="detailsec ui padded segment">
    <div class="ui header">Rising searches</div>
    <div class="content">
      <table class="ui very basic fixed selectable unstackable very compact table">
        <tbody id="query_rising"></tbody>
      </table>
    </div>
  </div>


  <div class="detailsec ui padded segment">
    <div class="ui header">Pros & Cons</div>
    <div class="content"></div>
  </div>

  <div class="detailsec ui padded segment">
    <div class="ui header">Rating history</div>
    <div class="content"></div>
  </div>

  <!-- <div class="detailsec ui padded segment">
    {% include "app/brand_comment.html" %}
  </div> -->

</div>




<div id="bottom_panel" style="background:transparent;height:90vw;max-height:300px;width:100%;bottom:-30%;opacity:0;position:fixed;display:flex;align-items:center;justify-content:center">
  <div style="background:white;position:absolute;top:0;bottom:0;width:90%;max-width:600px;border-radius:10px 10px 0 0;box-shadow:0 0 15px rgba(0,0,0,0.3);">

    <button class="ui compact icon button" style="background:transparent;position:absolute;right:1%;top:2%;">
      <i class="arrow down icon"></i>
    </button>

    <div style="padding-bottom:5%;background:transparent;position:absolute;top:10%;bottom:0;left:5%;right:5%;display:flex;align-items:center;justify-content:center">
      <canvas id="bid-compare"></canvas>
      <!-- <canvas id="bid-compare" style="position:absolute;width:80%;height:80%;"></canvas> -->
      <!-- <canvas id="bid-compare" style="height:35vh;width:35vh;max-height:300px;max-width:300px;"></canvas> -->
    </div>

  </div>
</div>
