<div style="padding:20px;background-color:white;">
  <!-- <img src="{{brand.logo_url}}" class="ui centered image" style="padding:10px"> -->
  <!-- <h1 class="ui center aligned icon header">
    <div class="content">
      <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
      <div class="sub header">{{brand.name}}</div>
    </div>
  </h1> -->

  <div style="text-align:center">
    <img src="{{brand.logo_url}}" class="ui centered image" style="padding:10px">
    <br>
    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
    <div class="sub header">{{brand.name}}</div>
  </div>

  <div class="ui divider"></div>
</div>

<br>
