<div class="bcard card" bname="{{ brand.name }}" href="{% url 'brand_detail' brand.name %}" onclick="bcard_click(this)">

  <div class="bcard_base">
    <img class="bcard_img" src="{{ brand.logo.url }}" alt="{{ brand.name }}">
    <div class="bcard_like" onclick="toggle_like(event, this)">
      {% load ctags %}
      {% if user.is_authenticated and user.email|liked:brand.name %}
        <i class="bcard_like_icon yellow heart icon" state="like"></i>
      {% else %}
        <i class="bcard_dontlike_icon outline heart icon" state="dontlike"></i>
      {% endif %}
    </div>
  </div>

  {% if type == "more" %}
  <div class="bcard_more">
    <button class="bcard_more_btn ui compact icon button" onclick="bcard_more(event, this)">
      <i class="bcard_more_icon ellipsis horizontal icon"></i>
    </button>

    <div class="bcard_cover" onclick="bcard_cover_click(event, this)" onmouseleave="bcard_cover_mouseleave(this)">
      <div class="ui centered grid">
        {% if brand.score %}
        <div class="row">
          <div class="bcard_score">
            <span class="bcard_stat_value">{{ brand.score }}</span><br>
            <span class="bcard_stat_label">유사도 %</span>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <a class="ui mini compact labeled icon basic button">
            <i class="exchange icon"></i>
            COMPARE
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>
