<div class="ui comments">
  <h4 class="ui header">Comments</h4>

  <div class="comment">
    <a class="avatar">
      <img src="http://www.semantic-ui.com/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">임동석</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        추억의 브랜드임...
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>

  <div class="comment">
    <a class="avatar">
      <img src="http://www.semantic-ui.com/images/avatar/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">강세진</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>

  <div class="comment">
    <a class="avatar">
      <img src="http://www.semantic-ui.com/images/avatar/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author">아이유</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        살다살다 이런 최악의 브랜드는 처음
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>

  <form class="ui reply form">
    <div class="field">
      <textarea rows="2"></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> 댓글달기
    </div>
  </form>
</div>
