<style>
  text:hover {
    fill: black !important;
    font-weight: bold;
  }

  .label-background-strong {
    fill: black;
    fill-opacity: 1;
  }

  .detailsec {
    padding-bottom:50px !important;
  }

  .detailsec .header {
    font-size: 20px !important;
  }

  .detailsec .content {
    padding: 20px;
  }

  .metabutton {
    background: transparent !important;
  }

  .metabutton:hover {
    background: rgba(220, 220, 220, .2) !important;
  }

  .feed-menu .item {
    border-radius: 20px !important;
    margin: 1px !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative;
  }

  .action-icon {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
  }

  .hashtag.label {
    color: black;
    background: whitesmoke;
    font-weight: normal;
  }
</style>

<div style="position:fixed;top:50%;z-index:100">
  <i class="green angle left huge icon link" onclick="window.history.back()"></i>
</div>


<div style="width:100%;background:none;">
  <div class="ui text container" style="background:none;position:relative;padding:20px;">
    <div class="ui unstackable items" style="background:none;margin:0;">
      <div class="item" style="background:none;">
        <div class="image">
          <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" class="ui centered image" style="object-fit:contain;">
        </div>

        <div class="middle aligned content">
          <div class="ui huge header" style="text-transform:capitalize;">
            <div>
              {{ brand.fullname_en }}
              <div class="sub header">
                <div>{{ brand.fullname_kr }}</div>
              </div>
            </div>
          </div>
          <div class="meta" style="font-size:13px;">
            <span>{{ brand.origin }}</span>
            <span>·</span>
            <span>{{ brand.category }}</span>
          </div>
          <div class="description" style="font-size:13px;">
            <p></p>
          </div>
          <div class="extra" style="font-size:13px;">
            <a href="//{{ brand.website }}" target="_blank">{{ brand.website }}</a>
          </div>
        </div>
      </div>
    </div>

    <div style="background:none;position:absolute;transform:translate(-50%,-50%);right:-10px;top:30px;">
      <div class="bookmark-dropdown top right pointing ui dropdown">
        <input type="hidden" name="filters">
        <i class="bookmark big icon" style="color:rgba(248,0,0,1)"></i>
        <div class="menu">
          <div class="item" data-value="favorite">favorite</div>
          <div class="item" data-value="interest">interest</div>
          <div class="item" data-value="collection">collection</div>
        </div>
      </div>
    </div>
  </div>

</div>


<div style="width:100%;background:none;">
  <div class="ui text container">
    <div class="ui small button">Feeds</div>
    <div class="ui small button">Identity</div>
    <div class="ui small button">Similar brands</div>
    <div class="ui small button">Hashtags</div>
    <div class="ui small button">Trend</div>
  </div>
</div>


<div class="ui text container segments" style="border:none;">
  {% for feed in brand.feeds %}
  <div class="detailsec ui padded segment">
    <div class="feed-menu ui secondary icon menu" style="background:none;">
      <div class="item" style="background:none;padding:5px;">
        {% include "app/user_avatar.html" with profile=feed.author %}
      </div>

      <div class="right compact menu">
        <a class="item" action="post_like" onclick="toggle_action(this)">
          {% include "app/action_icon.html" with action_type="like" obj=post %}
        </a>

        <a class="item">
          <div class="share-dropdown top right pointing ui dropdown">
            <i class="large share alternate icon"></i>
            <div class="menu">
              <div class="item" data-value="kakaotalk">kakaotalk</div>
              <div class="item" data-value="facebook">facebook</div>
              <div class="item" data-value="instagram">instagram</div>
              <div class="item" data-value="linkurl">link url</div>
            </div>
          </div>
        </a>

      </div>
    </div>

    <p>{{ feed.content }}</p>

    {% if feed.feed_image %}
    <p>
      <img src='{{ feed.feed_image.url }}' style="max-width:80%;" class="ui centered image">
    </p>
    {% endif %}

    <!-- <div class="hashtags ui search dropdown selection multiple" style="border:none;background:none;"> -->
    <p>
    {% for hashtag in feed.hashtags.all %}
      <a class="hashtag ui tiny label" href="#">{{ hashtag }}</a>
    {% endfor %}
    </p>
    <!-- </div> -->

    <p style="font-size:10px;">{{ feed.timestamp }}</p>
  </div>
  {% endfor %}
</div>

<!-- <div class="ui text container segments" style="border:none;">

  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">Brand identity</div>
    <div class="content">
      <canvas id="bid" width="200" height="200" style="max-width:350px;max-height:350px;margin-left:auto;margin-right:auto"></canvas>
    </div>
    <br>
  </div>

  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">Similarity</div>
    <div class="content" id="similarity"></div>
  </div>

  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">Keywords</div>
    <div class="content">
      <div id="wordcloud" style="text-align:center"></div>
    </div>
  </div>


  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">Interest trend</div>
    <div class="content">
      <canvas id="trend"></canvas>
    </div>
  </div>

  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">Top searches</div>
    <div class="content">
      <table class="ui very basic fixed selectable unstackable very compact table">
        <tbody id="query_top"></tbody>
      </table>
    </div>
  </div>

  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">Rising searches</div>
    <div class="content">
      <table class="ui very basic fixed selectable unstackable very compact table">
        <tbody id="query_rising"></tbody>
      </table>
    </div>
  </div>


  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">Pros & Cons</div>
    <div class="content"></div>
  </div>

  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">Rating history</div>
    <div class="content"></div>
  </div>

</div> -->




<div id="bottom_panel" style="background:transparent;height:90vw;max-height:300px;width:100%;bottom:-30%;opacity:0;position:fixed;display:flex;align-items:center;justify-content:center">
  <div style="background:white;position:absolute;top:0;bottom:0;width:90%;max-width:600px;border-radius:10px 10px 0 0;box-shadow:0 0 15px rgba(0,0,0,0.3);">

    <button class="ui compact icon button" style="background:transparent;position:absolute;right:1%;top:2%;">
      <i class="arrow down icon"></i>
    </button>

    <div style="padding-bottom:5%;background:transparent;position:absolute;top:10%;bottom:0;left:5%;right:5%;display:flex;align-items:center;justify-content:center">
      <canvas id="bid-compare"></canvas>
    </div>

  </div>
</div>
