{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}

{% block content %}
  {% include "app/brand_detail_content.html" %}
{% endblock content %}


{% load static %}
{% block js %}
  {{ block.super }}
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/static/js/d3.layout.cloud.js"></script>
  <script src="/static/js/wordcloud.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/lib/alea.min.js"></script>

  <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@4"></script>

  <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/light.css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <!-- chartjs 바차트의 rounded bar를 만들어주는 플러그인
  https://github.com/jedtrow/Chart.js-Rounded-Bar-Charts -->
  <script src="/static/js/Chart.roundedBarCharts.min.js"></script>

  <script>
    function append_table_row(id, query_data){
      var btn = document.createElement('button');
      btn.className = "ui green mini compact right aligned button";
      btn.style.width = (query_data.value*0.9).toString()+"%";
      btn.style.borderRadius = "0 20px 20px 0";
      btn.append(query_data.value);

      var td_query = document.createElement('td');
      td_query.className = "right aligned eight wide";
      // td_query.addClass("right aligned eight wide");
      // td_query.classList.add("right aligned eight wide");
      td_query.append(query_data.key);

      var td_value = document.createElement('td');
      td_value.className = "eight wide";
      td_value.style.padding = "0px";
      td_value.append(btn);

      var tr = document.createElement('tr');
      tr.append(td_query, td_value);
      // return tr;
      $(id).append(tr);
    };


    $(document).ready(function(){
      $.get('{% url "gtrend" brand.name %}', function(data){
        var ctx1 = $("#trend").get(0).getContext("2d");
        new Chart(ctx1, data.trend_data);

        data.query_top_data.forEach(function(query_data){
          append_table_row('#query_top', query_data);
        });

        data.query_rising_data.forEach(function(query_data){
          append_table_row('#query_rising', query_data);
        });
      });

      WordCloud({
        container: "#wordcloud",
        data: {{ brand.wordfreq | safe }},
        width: $("#wordcloud").width(),
        height: 300
      });
    });
  </script>
{% endblock js %}
