<div class="brand card" bname="{{ brand.name }}" href="{% url 'brand_detail' brand.name %}" style="box-shadow:0 0 10px 1px gainsboro;cursor:pointer"
     onmouseover="bcard_mouseover(this)"
     onmouseout="bcard_mouseout(this)"
     onclick="bcard_click(this)">

  <div class="dimmable image" style="background:white;position:relative;">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">

          {% if brand.score %}
            <div class='ui purple small inverted statistic'>
              <div class='value'>{{ brand.score }}</div>
              <div class='label' style="font-size:12px">MATCHING %</div>
            </div>
          {% endif %}

          <div class="ui small mini inverted compact icon buttons">
            <!-- <a class="ui inverted detail button" href="{% url 'brand_detail' brand.name %}"><i class="question icon"></i></a> -->
            <!-- {% if user.is_authenticated %}
            <a class="ui inverted like button" onclick="like(this)"><i class="heart outline icon"></i></a>
            {% endif %} -->
            <a class="ui inverted compare button"><i class="exchange icon"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="grad" style="transition: all 0.5s ease;opacity:0;position:absolute;top:50%;height:50%;width:100%;z-index:0;background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);">
      <span style="vertical-align:bottom;display:inline-block;">
        <br>
        <i class="external alternate icon"></i>
        <i class="exchange icon"></i>
      </span>
    </div>
    <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" style="object-fit:contain;margin:auto;border-radius:4px !important;">

    <div onclick="toggle_like(event, this)" style="position:absolute;top:5%;left:5%;" onmouseover="like_mouseover(this)" onmouseout="like_mouseout(this)">
      {% load ctags %}
      {% if user.is_authenticated and user.email|liked:brand.name %}
        <i class="like yellow heart icon" state="like" style="opacity:1;"></i>
        <!-- <i class="like yellow heart link icon" state="like" style="position:absolute;transform:translate(-50%, -50%);top:7%;left:90%;opacity:1;animation: heartbeat 1s infinite;"></i> -->
      {% else %}
        <i class="like outline heart icon" state="dontlike" style="opacity:0.5;color:gainsboro;""></i>
      {% endif %}
    </div>

  </div>
</div>



<!-- <div class="ui mini inverted popup" style="text-align:center;width:150px">
  <div class="column">

    <h4 class='ui yellow header'>
      {{ brand.fullname_en }}
      <div class='sub header'>{{ brand.fullname_kr }}</div>
    </h4>

    <div class="content">
      {% if brand.score %}
        <div class='ui inverted purple statistic'>
          <div class='value'>{{ brand.score }}</div>
          <div class='label'>MATCHING %</div>
        </div>
      {% endif %}

      <div class="ui two mini inverted buttons">
        <a class="ui inverted button" href="{% url 'brand_detail' brand.name %}">DETAIL</a>
        <div class="ui inverted button">COMPARE</div>
      </div>
    </div>

  </div>
</div> -->
