{% extends "app/layout.html" %}

{% load static %}
{% block style %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/light.css"/>
  <!-- <link rel="stylesheet" href="{% static 'quantlab/bcard.css' %}"> -->

  <style>
    .axis {
    	font: 15px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #D4D8DA;
      stroke-width: 2px;
      shape-rendering: crispEdges;
    }

    #chart {
    	position: absolute;
    	top: 50px;
    	left: 100px;
    }

    .toolTip {
      pointer-events: none;
    	position: absolute;
        display: none;
      min-width: 50px;
      height: auto;
      background: none repeat scroll 0 0 #ffffff;
      padding: 9px 14px 6px 14px;
      border-radius: 2px;
      text-align: center;
      line-height: 1.3;
      color: #5B6770;
      box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
    }

    .toolTip:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid white;
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -12px;
    }

    .toolTip span {
    	font-weight: 500;
      color: #081F2C;
    }

    @keyframes bottom_panel_show {
      100% { opacity:1; bottom:0; }
    }

    @keyframes bottom_panel_hide {
      0% { opacity:1; bottom:0; }
    }
  </style>
{% endblock style %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}

{% block content %}
  {% include "app/brand_detail_content.html" %}
{% endblock content %}


{% block js %}
  {{ block.super }}
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{% static 'js/d3.layout.cloud.js' %}"></script>
  <script src="{% static 'js/wordcloud.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/lib/alea.min.js"></script>

  <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@4"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
  <!-- chartjs 바차트의 rounded bar를 만들어주는 플러그인
  https://github.com/jedtrow/Chart.js-Rounded-Bar-Charts -->
  <script src="{% static 'js/Chart.roundedBarCharts.min.js' %}"></script>
  <!-- <script src="{% static 'quantlab/bcard.js' %}"></script> -->
  <!-- <script src="{% static 'js/d3-components-0.0.5.js' %}"></script> -->
  <!-- <script src="{% static 'js/RadarChart.js' %}"></script> -->
  <script src="{% static 'js/radarChart.js' %}"></script>

  <script>
    function toggle_action(obj) {
      var action = $(obj).attr("action");
      var icons = $(obj).children(".action-icon");
      // var icons = $('[action=' + action + ']').children(".action-icon");
      var state = icons.attr("state");

      var what = '{{ post.pk }}';
      var data;

      if (state=="add") {
        icons.attr("state", "remove");
        data = { action:action, remove:what };

      } else if (state=='remove') {
        icons.attr("state", "add");
        data = { action:action, add:what };
      };

      // update_actions(data);
    };
  </script>


  <!-- <script>
    load_blocks('#similarity', "{% url 'blocks' %}?type=simbrands&bname={{ brand.name }}");
    $('.bookmark-dropdown').dropdown();

    function append_table_row(id, query_data){
      var btn = document.createElement('button');
      btn.className = "ui green mini compact right aligned button";
      btn.style.width = (query_data.value*0.9).toString()+"%";
      btn.style.borderRadius = "0 20px 20px 0";
      btn.append(query_data.value);

      var td_query = document.createElement('td');
      td_query.className = "right aligned eight wide";
      td_query.append(query_data.key);

      var td_value = document.createElement('td');
      td_value.className = "eight wide";
      td_value.style.padding = "0px";
      td_value.append(btn);

      var tr = document.createElement('tr');
      tr.append(td_query, td_value);
      $(id).append(tr);
    };


    $(document).ready(function(){
      $.get('{% url "gtrend" brand.name %}', function(data){
        var ctx1 = $("#trend").get(0).getContext("2d");
        new Chart(ctx1, data.trend_data);

        data.query_top_data.forEach(function(query_data){
          append_table_row('#query_top', query_data);
        });

        data.query_rising_data.forEach(function(query_data){
          append_table_row('#query_rising', query_data);
        });
      });

      WordCloud({
        container: "#wordcloud",
        data: {{ brand.simwords | safe }},
        width: $("#wordcloud").width(),
        height: 600
      });
    });


    var identity = {{ brand.identity | safe }};
    var bid = ['럭셔리','유니크','정통성','포멀','캐주얼','대중성','트렌디','액티브'];
    var bval = bid.map(function(id){ return identity[id]; });

    var data = {
      labels: bid,
      datasets: [{
        backgroundColor: 'rgb(255,99,132,0.2)',
        borderColor: 'rgb(255,99,132)',
        pointBackgroundColor: 'rgb(255,99,132)',
        data: bval
      }]
    };

    new Chart('bid', {
        type: 'radar',
        data: data,
        options: {
          scale: {
            ticks: {
              min: 0,
              max: 100,
              stepSize: 100,
              display: false

            },
            gridLines: {
              circular: true
            }
          },
          legend: {
            display: false
          },
          layout: {
            padding: 10
          }
        }
    });


    $("#bottom_panel .button").click(function() {
      $("#bottom_panel").css({"animation":"bottom_panel_hide 0.5s forwards"});
    });


    function compare(btn) {
      var compare_to = $(btn).parents(".bcard").attr("bname");

      $.get('/brands/' + compare_to + '/identity/', function(idty){
        var bval_compared = bid.map(function(id){ return idty[id]; });

        var data = {
          labels: bid,
          datasets: [{
            label: '{{ brand.name }}',
            backgroundColor: 'rgb(255,99,132,0.2)',
            borderColor: 'rgb(255,99,132)',
            pointBackgroundColor: 'rgb(255,99,132)',
            data: bval },
          {
            label: compare_to,
            backgroundColor: 'rgb(53,162,235,0.2)',
            borderColor: 'rgb(53,162,235)',
            pointBackgroundColor: 'rgb(53,162,235)',
            data: bval_compared
          }]
        };

        new Chart('bid-compare', {
            type: 'radar',
            data: data,
            options: {
              scale: {
                ticks: {
                  min: 0,
                  max: 100,
                  stepSize: 100,
                  display: false
                },
                gridLines: {
                  circular: true
                }
              },
              legend: {
                display: true
              }
            }
        });

        $("#bottom_panel").css({"animation":"bottom_panel_show 0.5s forwards"});
      });
    };


  </script> -->
{% endblock js %}
