{% extends "app/layout.html" %}

{% block style %}
  {{ block.super }}
  <style>
  </style>
{% endblock style %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}


{% block content %}
{% load static %}
{{top_channels.0.lv}}
{{top_channels.1.lv}}
{{top_channels.2.lv}}
<div class="main-segments ui text container segments">
  <div class="ui vertical center aligned segment">

    <div class="ui text container">
      {% include "app/title.html" with title="CHANNEL.BEST.FIT.FOR.YOU." type=1 %}
      {% include "app/focus_grid.html" %}
    </div>

  </div>


  <div class="ui vertical segment">
    <!-- <div class="ui header">
      <div class="content">
        Your active channels
      </div>
    </div> -->

    <div class="content">
      <!-- header에 설치된 폰트가 적용되려면, content로 싸아야한다.  -->
      <div id="channelblocks" class="ui three column grid"></div>
    </div>
  </div>

</div>

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>
    // $('.masthead').visibility({
    //   once: false,
    //   onBottomPassed: function() {
    //     $('#top-header').transition('fade in');
    //   },
    //   onBottomPassedReverse: function() {
    //     $('#top-header').transition('fade out');
    //   }
    // });

    $(document).ready(function(){
      // console.log(getRandLevel());
      // console.log(getRandLevel());
      // console.log(getRandLevel());
      // console.log(getRandLevel());
      // console.log(getRandLevel());
      // console.log(getRandLevel());



      ContentLoader({
        data: {{ channels | safe }},
        where: '#channelblocks',
        type: 'channelblock',
        n_init: 30,
        n_next: 9
      });
    });
  </script>
{% endblock js %}
