{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}


{% block content %}
<style>
  img.brand {
    object-fit: contain;
    width: 110px;
    height: 110px;
    margin: auto;
    border-radius: 0 !important;
  }
</style>


<div class="ui text container" style="text-align:center">
  <form class="ui form" action="{% url 'discover' %}" method="get">
    <div class="ui fluid search">
      <div class="ui large fluid left icon action input">
        {% if brands.qry %}
          <input class="prompt" type="text" value="{{ brands.qry }}" name="q">
        {% else %}
          <input class="prompt" type="text" placeholder="예: adidas, 섹시 청바지, 가성비 끝판왕... " name="q">
        {% endif %}
        <i class="search icon"></i>
        <button class="ui icon button"><i class="right arrow icon"></i></button>
      </div>
      <div class="results"></div>
    </div>
  </form>
  <br>

  <div>
    <div class="ui pagination mini menu">
      <a class="item" id="0" page="All" onclick="paginate(this)">All</a>
      {% if user.is_authenticated %}
      <a class="item" id="1" page="like" onclick="paginate(this)"><i class="yellow heart icon"></i></a>
      {% endif %}
      <a class="item" id="2" page="0-9" onclick="paginate(this)">0-9</a>
      <a class="item" id="3" page="A B C D E F G" onclick="paginate(this)">A B C D E F G</a>
      <a class="item" id="4" page="H I J K L M N" onclick="paginate(this)">H I J K L M N</a>
      <a class="item" id="5" page="O P Q R S T U" onclick="paginate(this)">O P Q R S T U</a>
      <a class="item" id="6" page="V W X Y Z" onclick="paginate(this)">V W X Y Z</a>
    </div>

    <br><br>
    <div class="ui pager five doubling cards">
      {% include page_template %}
    </div>
  </div>

</div>
{% endblock content %}


{% load static %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

  <script>
    $.endlessPaginate({
      paginateOnScroll: true,
      paginateOnScrollMargin: 100,
    });

    function paginate(btn) {
      url = "{% url 'discover' %}?p=" + $(btn).attr("page");
      window.location.assign(url);
      // window.location.replace(url);
    };

    $('.ui.search').search({
        source: {{ brands.search_helper | safe }},
        fullTextSearch: true,
        showNoResults: false,
        maxResults: 5,
        searchFields: ['title', 'description', 'categories'],
        templates: {
          standard: function(response){
            htmls = $.map(response.results, function(item) {
                      var whereto = "{% url 'discover' %}?q=" + item.title;
                      var html = '<a class="result" style="height:100px" href="' + whereto + '">';
                      html += '<div class="image" style="height:80px;width:80px;">'
                            + '<img src="' + item.image + '" style="object-fit:contain;height:80px;width:80px;">'
                            + '</div>';
                      html += '<div class="content">';
                      html += '<div class="ui header">' + item.title;
                      // html += '<div class="title">' + item.title + '</div>';
                      html += '<div class="sub header">' + item.description + '</div>';
                      // html += '<div class="description">' + item.description + '</div>';
                      html += '</div></div>';
                      html += '</a>';
                      return html
                    });

            return htmls
          },
        },
      });
  </script>
{% endblock js %}
