{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}


{% block content %}
<div class="ui text container">

<form class="ui form" action="sharing">
  {% csrf_token %}
  <div class="ui fluid large search">
    <div class="ui fluid left icon input">
      <input class="prompt" type="text" placeholder="Search...">
      <i class="search link icon"></i>
    </div>
    <div class="results"></div>
  </div>
</form>

  <br>

  <div class="ui five doubling brandlist cards">
    {% include page_template %}
  </div>
</div>
{% endblock content %}


{% load static %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>
    $(document).ready(function(){
      $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 100,
      });

      $('.brandlist.cards .image').dimmer({
        on: 'hover'
      });

      // 브랜드명 리스트를 받아오면($.get) 서치 source를 채워라
      // source = [{title:nike}, {title:adidas}, ...]
      $.get('{% url "bnames" %}', function(data) {
        $('.ui.search').search({
          //type: 'category',
          source: data,
        });
      });

    });
  </script>
{% endblock js %}
