{% load el_pagination_tags %}

{% if brands.all %}
  {% lazy_paginate 40,10 brands.all as all %}
  {% for brand in all %}
    {% include "app/brand_card.html" with brand=brand %}
  {% endfor %}
  {% show_more %}
{% endif %}

{% if brands.recommend %}
  {% lazy_paginate brands.recommend as recommend %}
  {% for brand in recommend %}
    {% include "app/brand_card.html" with brand=brand %}
  {% endfor %}
  {% show_more %}
{% endif %}

{% if brands.not_recommend %}
  <div class="ui horizontal divider header">Not Recommend</div>
  {% lazy_paginate brands.not_recommend as not_recommend %}
  {% for brand in not_recommend %}
    {% include "app/brand_card.html" with brand=brand %}
  {% endfor %}
  {% show_more %}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/semantic/semantic.min.js"></script>

<script>
  $('.brand.card .image').dimmer({
    on: 'hover'
  });

  $(window).resize(function(){
    var width = $(".brand.card").width();
    $(".brand.card").css("height", width+"px");
    $(".brand.card img").css({"width":width+"px", "height":width+"px"});
    $(".brand.card .like.icon").css("font-size", width*0.15);
  });

  $(window).trigger('resize');

  $(".like.button").click(function() {
    $(this).parents(".image").children(".like.icon").css({"opacity":1});

    $.ajax({
      url: {% url 'save_likes' %},
      async: true,
      type: 'GET',
      data: {
        like: $(this).parents(".brand.card").attr("bname")
      },
      dataType: 'text',
      success: function(jqXHR) {
        alert(jqXHR);
      }
    });
  });
</script>
