{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}


{% block content %}
<style>
  img.brand {
    object-fit: contain;
    width: 110px;
    height: 110px;
    margin: auto;
    border-radius: 0 !important;
  }
</style>

<div class="ui text container">

  <form class="ui form" action="{% url 'discover' %}" method="get">
    <!-- {% csrf_token %} -->
    <div class="ui fluid search">
      <div class="ui large fluid left icon action input">
        {% if brands.qry %}
          <input class="prompt" type="text" value="{{ brands.qry }}" name="q">
        {% else %}
          <input class="prompt" type="text" placeholder="예: adidas, 섹시 청바지, 가성비 끝판왕... " name="q">
        {% endif %}
        <i class="search icon"></i>
        <button class="ui button">Search</button>
      </div>
      <div class="results"></div>
    </div>
  </form>

  <br>

  {% if brands.all %}
    <div style="text-align:center">
      <div class="ui pagination mini menu">
        <a class="item" id="0" onclick="paginate(this)">All</a>
        <a class="item" id="1" onclick="paginate(this)">0-9</a>
        <a class="item" id="2" onclick="paginate(this)">A B C D E F G</a>
        <a class="item" id="3" onclick="paginate(this)">H I J K L M N</a>
        <a class="item" id="4" onclick="paginate(this)">O P Q R S T U</a>
        <a class="item" id="5" onclick="paginate(this)">V W X Y Z</a>
      </div>
    </div>
    <br>

    <div class="ui five doubling cards">
      {% include page_template %}
    </div>
  {% endif %}


  {% if brands.recommend %}
    <div class="ui five doubling cards">
      {% for brand in brands.recommend %}
        {% include "app/brand_card.html" with brand=brand %}
      {% endfor %}
    </div>
  {% endif %}

  {% if brands.not_recommend %}
    <br>
    <div class="ui horizontal divider header">Not Recommend</div>
    <div class="ui five doubling cards">
      {% for brand in brands.not_recommend %}
        {% include "app/brand_card.html" with brand=brand %}
      {% endfor %}
    </div>
  {% endif %}


</div>
{% endblock content %}


{% load static %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>
    function paginate(btn) {
      url = "{% url 'discover' %}?p=" + btn.text;
      window.location.replace(url);
    };

    $(document).ready(function(){
      $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 100,
      });

      // $('.brandlist.cards .image').dimmer({
      //   on: 'hover'
      // });

      $('.ui.search').search({
          source: {{ brands.search_helper | safe }},
          fullTextSearch: true,
          maxResults: 5,
          searchFields: ['title', 'description', 'categories'],
          templates: {
            standard: function(response){
              htmls = $.map(response.results, function(item) {
                        var whereto = "{% url 'discover' %}?q=" + item.title;
                        var html = '<a class="result" style="height:100px" href="' + whereto + '">';
                        html += '<div class="image" style="height:80px;width:80px;">'
                              + '<img src="' + item.image + '" style="object-fit:contain;height:80px;width:80px;">'
                              + '</div>';
                        html += '<div class="content">';
                        html += '<div class="ui header">' + item.title;
                        // html += '<div class="title">' + item.title + '</div>';
                        html += '<div class="sub header">' + item.description + '</div>';
                        // html += '<div class="description">' + item.description + '</div>';
                        html += '</div></div>';
                        html += '</a>';
                        return html
                      });

              return htmls
            },
          },
        });
    });
  </script>
{% endblock js %}
