{% extends "app/layout.html" %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@5/themes/light.css"/>
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@5/dist/svg-arrow.css"/>

  <style>
    .tag {
      position: absolute;
      background: white;
      border-radius: 25px;
      visibility: hidden;
      height: 50px;
      width: 50px;
      z-index: 2;
    }

    .tag span {
      position: absolute;
      width: 20px;
      color: #ffffff;
      text-align: center;
    }

    /* #cursor {
      --height: 60px;
      --width: 60px;
      opacity: 1;
      height: var(--height);
      width: var(--width);
      transform: translate(calc(var(--width) * -0.5), calc(-20px + var(--height) * -1));
      border-radius: 30px;
      background: rgba(255,255,255,1);
      box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;
      position: absolute;
      padding: 0 !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      transition: width 1s;
    } */

    #cursor {
      position: absolute;
      opacity: 1;
      top: -80px;
      left: -30px;
      right: -30px;
      bottom: 20px;
      border-radius: 30px;
      background: rgba(255,255,255,1);
      box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;
      padding: 0 !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      transition: all 0.1s;
    }

    #cursor:after {
      content: '';
      position: absolute;
      bottom: 0%;
      left: 50%;
      width: 0;
      height: 0;
      border-top: 30px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 0;
      margin-left: -10px;
      margin-bottom: -15px;
    }
  </style>
{% endblock style %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}


{% block content %}
{% load static %}
<div class="main-segments ui vertical center aligned segment" style="background:none;border:none;">
  <div class="ui text container" style="background:none;">
    <form name="pointform" method="post">
      <div style="position:relative;">
        <div id="tagged" class="tag">
          <img id="tagged-channel" class="ui circular image" src="" style="object-fit:contain;width:50px;height:50px;border:2px solid #ffffff;">
        </div>

        <img id="canvas" class="ui centered image" src="https://storage.googleapis.com/getch-245810.appspot.com/{{feed.image}}" onerror="imgerr(this)" onclick="clickcoord(event)"/>
      </div>
    </form>

    <div>{{ feed.content }}</div>
  </div>
</div>

<div id="cursor-point" style="background:none;width:0;height:0;position:absolute;">
  <div id="cursor">
    <div class="ui fluid search" style="background:lightblue;">
      <div class="ui fluid transparent left icon input" style="">
        <i class="large plus icon" style="background:none;margin:0;"></i>
        <input class="bsearch prompt" type="text" placeholder="Search" name="q" oninput="show_submit(this)">
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="https://unpkg.com/popper.js@1"></script>
  <script src="https://unpkg.com/tippy.js@5"></script>
  <script>
    var mode = 'positioning';
    var onCanvas = false;
    var onCursor = false;

    function tagging_mode(e) {
      mode = 'tagging';
      $('#cursor').css({
        left: '-150px',
        right: '-150px',
      });
    };

    function positioning_mode(e) {
      mode = 'positioning';
      $('#cursor').css({
        left: '-30px',
        right: '-30px',
      });
    };


    function show_cursor(e) {
      $('#cursor-point').css({
        left: e.pageX,
        top: e.pageY
      });

      $('#cursor').css('opacity', 1);
    }

    function hide_cursor() {
      $('#cursor').css({ opacity: 0 });
    }

    $('#canvas').on({
      'mouseenter': function() { onCanvas = true },
      'mouseleave': function() { onCanvas = false }
    });

    $('#cursor').on({
      'mouseenter': function() { onCursor = true },
      'mouseleave': function() { onCursor = false }
    });

    $('body').on('mousemove', function(e) {
      if (onCanvas || onCursor) {
        show_cursor(e);
      } else {
        hide_cursor();
      }
    });

    function clickcoord(e) {
      if (mode=='positioning') {
        tagging_mode(e);

      } else {
        positioning_mode(e);
      }


      var image = document.getElementById("canvas");
      var tag = $('#tagged');
      var channel = $('#tagged-channel');

      var pos_x = e.offsetX ? (e.offsetX) : e.pageX-image.offsetLeft;
      var pos_y = e.offsetY ? (e.offsetY) : e.pageY-image.offsetTop;

      tag.css({
        'visibility': 'hidden',
        'left': (pos_x - 13).toString() + 'px',
        'top': (pos_y - 13).toString() + 'px'
      })

      channel.attr('src', '');
    };

  </script>
{% endblock js %}
