{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" %}
{% endblock menu_top %}

{% block content %}
{% load static %}
<style>
  #intro {
    width: 100%;
    height: 300px;
    /* margin-top:50px; */
    /* background:lightblue url('{% static 'layout/intro_background.jpg'  %}') no-repeat fixed center; */
    background: url("{% static 'layout/intro_background.jpg' %}");
    background-repeat: repeat;
    background-size: contain;
    /* opacity: 0.5; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 50px; */
  }
</style>

<!-- <div style="width:100%;background:white;height:300px;margin-top:50px;display:flex;align-items:center;justify-content:center;"> -->
<div id="intro">
  <h1 class="ui icon header" style="background:rgba(255, 255, 255, .5);padding:20px">
  <!-- <h1 class="ui icon header" style="text-shadow: 0 0 50px #ffffff"> -->
    <i class="gem outline icon"></i>
    <div class="content" style="font-size:40px;">
      Get:ch
      <div class="sub header">style yourself</div>
    </div>
  </h1>
</div>

<div class="ui text container" style="background:none;margin-top:20px;box-shadow: 0 0 10px rgba(0,0,0,0.1)">
  <div class="ui fluid three item menu">
    <a class="item" href="{% url 'discover' %}">
      <div class="ui icon tiny header">
        <i class="compass outline icon"></i>
        <div class="content">
          Style discovery
          <div class="sub header">스타일 대모험</div>
        </div>
      </div>
    </a>

    <a class="item" href="{% url 'rating' %}">
      <div class="ui icon tiny header">
        <i class="heart outline icon"></i>
        <div class="content">
          Brand fit
          <div class="sub header">이상형 월드컵</div>
        </div>
      </div>
    </a>

    <a class="item" href="{% url 'me' %}">
      <div class="ui icon tiny header">
        <i class="user outline icon"></i>
        <div class="content">
          Tailored recommend
          <div class="sub header">맞춤형 제안</div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="ui text container">
  <br>
  <a href="{% url 'posts' %}">see all posts</a><br>
  <a href="{% url 'library' %}">see brand library</a><br>
  <a href="{% url 'myfavorite' %}">choose my favorite brand</a><br>
  <a href="{% url 'level_test' %}">check your brand level</a>
</div>
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>
  </script>
{% endblock js %}
