{% extends "app/layout.html" %}

{% block style %}
  {{ block.super }}
  <style>
    text:hover {
      fill: black !important;
      font-weight: bold;
    }

    * { box-sizing: border-box; }

    body { font-family: sans-serif; }

    /* ---- grid ---- */

    .grid {
      /* background: lightgreen; */
      /* max-width: 1200px; */
    }

    /* clearfix */
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }

    /* ---- grid-item ---- */

    .grid-sizer,
    .grid-item {
      width: 25%;
      float: left;
      padding: 5px;
      /* opacity: 0;
      transition: opacity 0.5s !important; */
    }

    .grid-item img {
      display: block;
      max-width: 100%;
    }

  </style>
{% endblock style %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}


{% block content %}
{% load static %}
<div class="main-segments ui text container segments">

  <!-- <div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--width2 grid-item--height2"></div>
    <div class="grid-item grid-item--height3"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item grid-item--width3"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item grid-item--width2 grid-item--height3"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--width2 grid-item--height2"></div>
    <div class="grid-item grid-item--width2"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height3"></div>
    <div class="grid-item grid-item--height2"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item grid-item--height2"></div>
  </div> -->

  <!-- <div class="ui segment">
    <div class="content" style="background:none;">
      <div class="ui medium header" style="background:none;margin:0;">
        <i class="compass outline icon"></i>
        <div class="content">
          Discover your fashion style
          <div class="sub header">내 패션 취향 대모험</div>
        </div>
      </div>

      <div class="ui icon tiny basic right floated buttons" style="background:none;margin-top:5px;border:none;">
        <div class="ui icon large compact button" style="border:none;" onclick="resize_blocks('#feedblocks', 1)">
          <i class="large zoom-out icon"></i>
        </div>
        <div class="ui icon large compact button" style="border:none;" onclick="resize_blocks('#feedblocks', -1)">
          <i class="large zoom-in icon"></i>
        </div>
      </div>

      <div style="clear:both;"></div>
    </div>
  </div> -->


  <div class="ui segment" style="background:none !important;">
    <div class="ui header">
      <div class="content">
        Hashtags
      </div>
    </div>
    <div class="content">
      <!-- header에 설치된 폰트가 적용되려면, content로 싸아야한다.  -->
      <div id="wordcloud" style="text-align:center"></div>
    </div>
  </div>

  <!-- <div class="ui segment">
    <div class="ui header">
      <div class="content">
        Feeds
      </div>
    </div>

    <div class="content">
      <div id="feedblocks" class="ui three column grid"></div>
    </div>

  </div> -->

</div>


<div class="ui vertical masthead center aligned segment" style="background:none;border:none;">
  <div class="ui masonry container" style="background:none;">
    <div id="feedblocks" class="grid" style="background:none;">
      <div class="grid-sizer"></div>
    </div>
    <!-- <div id='reloader'>
      loading...
    </div> -->
  </div>
</div>

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{% static 'js/d3.layout.cloud.js' %}"></script>
  <script src="{% static 'js/wordcloud.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/lib/alea.min.js"></script>

  <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@4"></script>


  <script>
    $(document).ready(function(){
      var $grid = $('.grid').masonry({
        itemSelector: '.grid-item',
        percentPosition: true,
        columnWidth: '.grid-sizer'
      });

      ContentLoader({
        data: {{ feeds | safe }},
        where: $grid,
        type: 'feedblock',
        n_init: 16,
        n_next: 12
      });

      WordCloud({
        container: "#wordcloud",
        data: {{ hashtags_freq | safe }},
        width: $("#wordcloud").width(),
        height: 600
      });

      //
      // $grid.imagesLoaded().progress( function() {
      //   $grid.masonry('layout');
      // });

    });

  </script>
{% endblock js %}
