<!doctype html>
<html lang="ko">
<head>
  <title>B:match</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block style %}
  <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
  <style>
    @media screen and (max-width: 800px) {
      .hide-footer {
        display: none;
      }
    }

    body {
      background: whitesmoke;
      font-family: "Helvetica Neue", Helvetica;
    }
  </style>
  {% endblock style %}

</head>


<body>
  <div class="pusher">
    <!-- menu top -->
    <div>
      {% block menu_top %}{% endblock menu_top %}
    </div>

    <!-- header -->
    <!-- <div style="margin-top:40px">
      {% block header %}{% endblock header %}
    </div> -->

    <!-- content -->
    <div style="margin-top:70px;margin-bottom:50px">
      {% block content %}{% endblock content %}
    </div>

  </div>


  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>

  <script>
    function show_submit(input) {
      var bsearch_submit = $(input).siblings(".bsearch-submit")

      if (input.value.length > 0) {
        bsearch_submit.css({
          "opacity": 1,
          "transition": "opacity 1s ease"
        });
      } else {
        bsearch_submit.css({
          "opacity": 0,
          "transition": "opacity 1s ease"
        });
      }
    };

    $.get('{% url "search_helper" %}', function(helper){
      $('.ui.search').search({
        source: helper,
        fullTextSearch: true,
        showNoResults: false,
        maxResults: 5,
        searchFields: ['title', 'description', 'categories'],
        templates: {
          standard: function(response){
            htmls = $.map(response.results, function(item) {
                      var whereto = "{% url 'discover' %}?q=" + item.title;
                      var html = '<a class="result" style="height:100px" href="' + whereto + '">';
                      html += '<div class="image" style="height:80px;width:80px;">'
                            + '<img src="' + item.image + '" style="object-fit:contain;height:80px;width:80px;">'
                            + '</div>';
                      html += '<div class="content">';
                      html += '<div class="ui header">' + item.title;
                      // html += '<div class="title">' + item.title + '</div>';
                      html += '<div class="sub header">' + item.description + '</div>';
                      // html += '<div class="description">' + item.description + '</div>';
                      html += '</div></div>';
                      html += '</a>';
                      return html
                    });

            return htmls
          },
        },
      });
    })


    $(document).ready(function(){
      $('.ui.welcome.modal')
        .modal('attach events', '.ui.bmatch_start.button', 'hide')
        .modal('attach events', '.ui.retry.button', 'hide')
        .modal('show');

      {% if user.is_authenticated %}
      {% else %}
      $('.ui.login.modal')
        // .modal('attach events', '.login.item', 'show')
        // .modal('attach events', '.login.button', 'show');
        .modal('attach events', '.login.icon', 'show');
      {% endif %}


      // $('#sidebar-bmatch')
      //   .sidebar('setting', 'transition', 'overlay')
      //   .sidebar('attach events', '.bmatch.item');

      // $('#sidebar-search')
      //   .sidebar({
      //     onVisible: function(){
      //       $('#searcher').transition('fade out');
      //     },
      //     onHide: function(){
      //       $('#searcher').transition('fade in');
      //     }
      //   })
      //   .sidebar('attach events', '#searcher');
      //
      // $('input').focus(function() {
      //    $('footer').addClass('hide-footer');
      // });
      //
      // $('input').focusout(function() {
      //    $('footer').removeClass('hide-footer');
      // });


      $('.signup').popup({
        popup: '.ui.popup',
        position: 'bottom right',
        on: 'click',
        delay: {
          show: 300,
          hide: 800
        }
      });

      // $('#top-shown').visibility({
      //   once: false,
      //   onBottomPassed: function() {
      //     $('#top-hidden').transition('fade in');
      //   },
      //   onBottomPassedReverse: function() {
      //     $('#top-hidden').transition('fade out');
      //   }
      // });

    });
  </script>
  {% endblock js %}

</body>
</html>
