<!doctype html>
<html lang="ko">
<head>
  <title>B:match</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  {% block style %}
  <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" type="text/css" href="{% static 'quantlab/blocks.css' %}">
  <!-- onload에서 불러오는 함수가 있기 때문에, 요거는 맨 앞에 위치 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'semantic/semantic.min.js' %}"></script>
  <script src="{% static 'js/feather.js' %}"></script>
  <script src="{% static 'quantlab/blocks.js' %}"></script>

  <style>
    .body-content .segment {
      border: none !important;
    }

    .body-content {
      border: none !important;
      box-shadow: 0 0 10px rgba(0,0,0,0.1) !important;
    }

    body {
      padding-top:60px;
      background: whitesmoke;
    }

    @media only screen and (max-width: 500px) {
      .body-content {
        border: none !important;
        box-shadow: none !important;
      }

      body {
        padding-top:60px;
        background: white;
      }

      .blocks {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    * {
      font-family: 'Nunito Sans', sans-serif;
      /* font-family: 'Tangerine', serif; */
    }
  </style>
  {% endblock style %}

</head>


<body>
  <!-- <div class="pusher"> -->
    <div id="header">
      {% block menu_top %}{% endblock menu_top %}
    </div>

    <div style="margin-bottom:50px;">
      {% block content %}{% endblock content %}
    </div>

  <!-- </div> -->


  {% block js %}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

  <script>
    feather.replace();

    $.endlessPaginate({
      paginateOnScroll: true,
      paginateOnScrollMargin: 100,
    });

    $("#search-shower").click(function() {
      $("#searcher").css({"animation":"searcher_show 0.2s forwards"});
      $("input.bsearch.prompt").focus();
    });

    $("input.bsearch.prompt").focusout(function() {
      setTimeout(function() {
        $("#searcher").css({"animation":"searcher_hide 0.2s forwards"});
      }, 100);
    });

    $("#search-hider").click(function() {
      $("#searcher").css({"animation":"searcher_hide 0.2s forwards"});
    });


    function show_submit(input) {
      var bsearch_submit = $(input).siblings(".bsearch-submit")

      if (input.value.length > 0) {
        bsearch_submit.css({
          "opacity": 1,
          "transition": "opacity 1s ease"
        });
      } else {
        bsearch_submit.css({
          "opacity": 0,
          "transition": "opacity 1s ease"
        });
      }
    };

    $.get('{% url "search_helper" %}', function(helper){
      $('.ui.search').search({
        source: helper,
        fullTextSearch: true,
        showNoResults: false,
        maxResults: 5,
        searchFields: ['title', 'description', 'categories'],
        templates: {
          standard: function(response){
            htmls = $.map(response.results, function(item) {
                      // var whereto = "{% url 'library' %}?q=" + item.title;
                      var whereto = "/brands/" + item.bname;
                      var html = '<a class="result" style="height:100px" href="' + whereto + '">';
                      html += '<div class="image" style="height:80px;width:80px;">'
                            + '<img src="' + item.image + '" style="object-fit:contain;height:80px;width:80px;">'
                            + '</div>';
                      html += '<div class="content">';
                      html += '<div class="ui header">' + item.title;
                      // html += '<div class="title">' + item.title + '</div>';
                      html += '<div class="sub header">' + item.description + '</div>';
                      // html += '<div class="description">' + item.description + '</div>';
                      html += '</div></div>';
                      html += '</a>';
                      return html
                    });

            return htmls
          },
        },
      });
    })


    $(document).ready(function(){
      $('.ui.welcome.modal')
        .modal('attach events', '.ui.bmatch_start.button', 'hide')
        .modal('attach events', '.ui.retry.button', 'hide')
        .modal('show');

      {% if user.is_authenticated %}
      {% else %}
      $('.ui.login.modal')
        // .modal('attach events', '.login.item', 'show')
        // .modal('attach events', '.login.button', 'show');
        .modal('attach events', '.loginbutton', 'show');
      {% endif %}


      // $('#sidebar-bmatch')
      //   .sidebar('setting', 'transition', 'overlay')
      //   .sidebar('attach events', '.bmatch.item');

      // $('#sidebar-search')
      //   .sidebar({
      //     onVisible: function(){
      //       $('#searcher').transition('fade out');
      //     },
      //     onHide: function(){
      //       $('#searcher').transition('fade in');
      //     }
      //   })
      //   .sidebar('attach events', '#searcher');
      //
      // $('input').focus(function() {
      //    $('footer').addClass('hide-footer');
      // });
      //
      // $('input').focusout(function() {
      //    $('footer').removeClass('hide-footer');
      // });


      $('.signup').popup({
        popup: '.ui.popup',
        position: 'bottom right',
        on: 'click',
        delay: {
          show: 300,
          hide: 800
        }
      });

      // $('#top-shown').visibility({
      //   once: false,
      //   onBottomPassed: function() {
      //     $('#top-hidden').transition('fade in');
      //   },
      //   onBottomPassedReverse: function() {
      //     $('#top-hidden').transition('fade out');
      //   }
      // });



    });
  </script>
  {% endblock js %}

</body>
</html>
