{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with me_act="active" %}
{% endblock menu_top %}

{% block content %}
<!-- <style>
  .pcard {
    box-shadow: 0 0 10px rgba(0,0,0,0.15) !important;
    cursor: pointer;
    overflow: hidden;
  }

  .pcard:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3) !important;
  }
</style> -->

<div class="ui text container segments" style="margin-top:10px;border:none;">

  <div class="detailsec ui padded center aligned segment" style="border:none;">
    <div class="ui centered circular blurring dimmable image" id="profile_image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">바꾸기</div>
          </div>
        </div>
      </div>
      <img class="ui centered circular image" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="object-fit:cover;width:150px;height:150px;">
    </div>

    <h2>{{ user.socialaccount_set.all.0.extra_data.name }}</h2>
    <p>
      {{ user.email }} <br>
      {{ user.socialaccount_set.all.0.get_provider_display }} 아이디로 로그인
    </p>

    <!-- <div class="ui horizontal segments">
      <div class="ui segment">
        <div class="ui small statistic">
          <div class="value">39</div>
          <div class="label">브랜드</div>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui small statistic">
          <div class="value">10</div>
          <div class="label">포스트</div>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui small statistic">
          <div class="value">3</div>
          <div class="label">커뮤니티</div>
        </div>
      </div>
    </div> -->

  </div>


  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">My favorite</div>
    <div class="content">
      {% include "app/block.html" with brand=myfavorite %}
    </div>
    <br>
  </div>


  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">My posts</div>
    <div class="content">
      <div id="myposts"></div>

      <br>
      <a href="{% url 'posting' %}">posting</a>

      <br>
      <a href="{% url 'posts' %}">see all posts</a>
    </div>
    <br>
  </div>

  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">Brand awareness</div>
    <div class="content">
      <canvas id="myawareness" width="200" height="200" style="max-width:350px;max-height:350px;margin-left:auto;margin-right:auto"></canvas>
    </div>
    <br>
  </div>


  <div class="detailsec ui padded segment" style="border:none;">
    <div class="ui header">My identity</div>
    <div class="content">
      <canvas id="bid" width="200" height="200" style="max-width:350px;max-height:350px;margin-left:auto;margin-right:auto"></canvas>
    </div>
    <br>
  </div>

  <div class="detailsec ui padded right aligned segment" style="border:none;">
    <a class="ui teal labeled icon button" href="{% url 'account_logout' %}">
      <i class="sign-out icon"></i>
      나가기
    </a>
  </div>

</div>


<!-- <div class="ui center aligned text container" style="margin-top:100px;">

  <div class="ui centered circular blurring dimmable image" id="profile_image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <div class="ui inverted button">바꾸기</div>
        </div>
      </div>
    </div>
    <img class="ui centered circular image" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="object-fit:cover;width:150px;height:150px;">
  </div>

  <h2>{{ user.socialaccount_set.all.0.extra_data.name }}</h2>
  <p>
    {{ user.email }} <br>
    {{ user.socialaccount_set.all.0.get_provider_display }} 아이디로 로그인
  </p>


  <div class="ui fluid card">
    <div class="content">
      <div class="header">아이덴티티 방사형</div>
    </div>
    <div class="content">
      <canvas id="bid" width="200" height="200"></canvas>
    </div>
  </div>


  <div class="ui horizontal segments">
    <div class="ui segment">
      <div class="ui small statistic">
        <div class="value">39</div>
        <div class="label">브랜드</div>
      </div>
    </div>

    <div class="ui segment">
      <div class="ui small statistic">
        <div class="value">10</div>
        <div class="label">포스트</div>
      </div>
    </div>

    <div class="ui segment">
      <div class="ui small statistic">
        <div class="value">3</div>
        <div class="label">커뮤니티</div>
      </div>
    </div>
  </div>

  <a class="ui teal labeled icon button" href="{% url 'account_logout' %}">
    <i class="sign-out icon"></i>
    나가기
  </a>

</div> -->
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

  <script>
    load_blocks('#myposts', "{% url 'blocks2' %}?type=posts&screen=my");

    // $(window).resize(function(){
    //   var width = $(".pcard").width();
    //   $(".pcard").css("height", width + "px");
    //   $(".pcard_img").css({"width":width + "px", "height":width + "px"});
    // });
    //
    // $(window).trigger('resize');
    //
    // function pcard_click(pcard) {
    //   var url = $(pcard).attr("href");
    //   window.location.assign(url);
    // };


    $('#profile_image').dimmer({
      on: 'hover'
    });

    var identity = {{ myidentity | safe }};
    var bid = ['럭셔리','유니크','정통성','포멀','캐주얼','대중성','트렌디','액티브'];
    var bval = bid.map(function(id){ return identity[id]; });

    var data = {
      labels: bid,
      datasets: [{
        backgroundColor: 'rgb(255,99,132,0.2)',
        borderColor: 'rgb(255,99,132)',
        pointBackgroundColor: 'rgb(255,99,132)',
        data: bval
      }]
    };

    var myRadarChart = new Chart('bid', {
        type: 'radar',
        data: data,
        options: {
          scale: {
            ticks: {
              min: 0,
              max: 100,
              stepSize: 100,
              display: false
            },
            gridLines: {
              circular: true
            }
          },
          legend: {
            display: false
          }
        }
    });




    var awareness = {{ myawareness | safe }};
    var _levels = [1, 2, 3, 4, 5];
    var levels = _levels.map(function(level){ return 'Level ' + level; });
    var scores = _levels.map(function(level){ return awareness[level]*100; });

    var aware_data = {
      labels: levels,
      datasets: [{
        backgroundColor: 'rgb(255,99,132,0.2)',
        borderColor: 'rgb(255,99,132)',
        pointBackgroundColor: 'rgb(255,99,132)',
        data: scores
      }]
    };

    var myawarenessRadarChart = new Chart('myawareness', {
        type: 'radar',
        data: aware_data,
        options: {
          scale: {
            ticks: {
              min: 0,
              max: 100,
              stepSize: 100,
              display: false
            },
            gridLines: {
              circular: true
            }
          },
          legend: {
            display: false
          }
        }
    });
  </script>
{% endblock js %}
