{% include "app/login.html" %}
{% include "app/welcome.html" %}

<style>
  #top-shown .ui.menu a:not(.active).item:hover {
    color:#a4a4a4 !important;
  }

  #login-btn {
    padding: 10px !important;

  }

  /* .bsearch:focus + .bsearch-submit {
    opacity: 1 !important;
    transition: opacity 1s ease;
  } */

  /* .bsearch-submit {
    transition: opacity 1s ease;
  } */

  .bsearch-submit:hover, #search-hider:hover, #show-library:hover {
    background: rgba(220, 220, 220, .3) !important;
  }

  #top-header {
    box-shadow: 0 0 10px rgba(0,0,0,0.2) !important;
  }

  #top-header .ui.menu a.item:hover {
    color: red !important;
    /* background: transparent; */
  }

  @keyframes searcher_show {
    100% { bottom:0%; }
  }

  @keyframes searcher_hide {
    0% { bottom:0%; }
  }

  .topmenu-item {
    border-radius: 20px !important;
    margin: 1px !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
  }

  .topmenu-icon {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    /* font-weight:bold; */
  }

</style>


<div style="background:white;position:fixed;top:0;width:100%;height:none;z-index:100;" id="top-header">
  <div style="background:none;;position:absolute;top:0;left:0;z-index:-1;overflow:hidden;font-style:italic;font-weight:900;font-size:25px;letter-spacing:-2px;color:white;line-height:79%">
    <span style="-webkit-text-stroke:1px rgba(255,132,9,0.1);">GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.</span><br>
    <span style="-webkit-text-stroke:1px rgba(0,0,0,0.1);">GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.</span><br>
    <span style="-webkit-text-stroke:1px rgba(144,238,146,0.5);">GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.GET.CH.</span>
  </div>

  <!-- ;display:flex;align-items:center;justify-content:center -->
  <div class="ui text container" style="background:none;">
    <div class="ui secondary icon compact menu" style="background:none;height:60px;width:100%;position:relative;">
      <a class="item" style="padding:8px;" href="{% url 'home' %}">
        <!-- <i data-feather="aperture"></i> -->
        <!-- <div style="margin-left:5px;font-family:'Nunito Sans',sans-serif;font-weight:800;font-size:25px;letter-spacing:3px;"><i>GET.CH</i></div> -->
        <!-- <div style="margin-left:5px;font-family:'Jost';font-weight:800;font-size:25px;letter-spacing:-2px;-webkit-text-stroke:1px rgba(114,238,146);color:white;"><i>GET.CH</i></div> -->
        <div style="font-weight:900;font-size:30px;font-style:italic;letter-spacing:-2px;">GET.CH.</div>
      </a>

      <div class="right menu">
        <a class="topmenu-item item">
          <i class="topmenu-icon" data-feather="plus-square"></i>
        </a>

        <a class="topmenu-item item" id="search-shower">
          <!-- <i class="large search icon" style="font-weight:lighter;"></i> -->
          <i class="topmenu-icon" data-feather="search"></i>
        </a>

        <a class="topmenu-item item">
          <i class="topmenu-icon" data-feather="grid"></i>
        </a>

        <!-- <a class="topmenu-item item {{ discover_act }}" href="{% url 'discover' %}">
          <i class="large road icon" style="background:none;"></i>
        </a> -->

        <!-- <a class="topmenu-item item {{ rating_act }}" href="{% url 'rating' %}">
          <i class="large heart icon" style="margin-top:3px;"></i>
        </a> -->

        {% if user.is_authenticated %}
        <a class="topmenu-item item {{ me_act }}" href="{% url 'me' %}">
          <img class="ui circular image" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="object-fit:cover;width:30px;height:30px;">
        </a>
        {% else %}
        <a class="topmenu-item loginbutton item {{ me_act }}">
          <i class="large user icon"></i>
        </a>
        {% endif %}

      </div>
    </div>

    {% include 'app/searcher.html' %}
  </div>
</div>
