{% extends "app/layout.html" %}

{% block style %}
  {{ block.super }}
  <style>
  </style>
{% endblock style %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}


{% block content %}
{% load static %}
<div class="body-content ui text container segments">

  <div class="ui segment">
    <div class="ui header">
      <div class="content">
        Your active pages
      </div>
    </div>
    <div class="content">
      <!-- header에 설치된 폰트가 적용되려면, content로 싸아야한다.  -->
      <div id="pageblocks" class="ui three column grid"></div>
    </div>
  </div>

</div>

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>
    $(document).ready(function(){
      ContentLoader({
        data: {{ pages | safe }},
        where: '#pageblocks',
        type: 'pageblock',
        n_init: 30,
        n_next: 9
      });
    });
  </script>
{% endblock js %}
