{% extends "app/layout.html" %}

{% load static %}
{% block style %}
  {{ block.super }}
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/light.css"/>

  <style>
    .axis {
    	font: 15px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #D4D8DA;
      stroke-width: 2px;
      shape-rendering: crispEdges;
    }

    #chart {
    	position: absolute;
    	top: 50px;
    	left: 100px;
    }

    .toolTip {
      pointer-events: none;
    	position: absolute;
        display: none;
      min-width: 50px;
      height: auto;
      background: none repeat scroll 0 0 #ffffff;
      padding: 9px 14px 6px 14px;
      border-radius: 2px;
      text-align: center;
      line-height: 1.3;
      color: #5B6770;
      box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
    }

    .toolTip:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid white;
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -12px;
    }

    .toolTip span {
    	font-weight: 500;
      color: #081F2C;
    }

    text:hover {
      fill: black !important;
      font-weight: bold;
    }

    .label-background-strong {
      fill: black;
      fill-opacity: 1;
    }

    .detailsec {
      padding-bottom:50px !important;
    }

    .detailsec .header {
      font-size: 20px !important;
    }

    .detailsec .content {
      padding: 20px;
    }

    .metabutton {
      background: transparent !important;
    }

    .metabutton:hover {
      background: rgba(220, 220, 220, .2) !important;
    }

    .feed-menu .item {
      border-radius: 20px !important;
      margin: 1px !important;
      width: 40px !important;
      height: 40px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      position: relative;
    }

    .action-icon {
      position: absolute;
      width: 60%;
      height: 60%;
      top: 50%;
      left: 20px;
      transform: translate(-50%, -50%);
    }

    [action="feed_like"] .action-icon[state='add'] {
      fill: rgba(248,0,0,1);
      stroke-width: 2;
      color: black;
    }

    .hashtag.label {
      color: black;
      background: whitesmoke;
      font-weight: normal;
    }

    @keyframes bottom_panel_show {
      100% { opacity:1; bottom:0; }
    }

    @keyframes bottom_panel_hide {
      0% { opacity:1; bottom:0; }
    }
  </style>
{% endblock style %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}



{% block content %}
<div style="width:100%;background:none;">
  <div class="ui text container" style="background:none;position:relative;padding:20px;">
    <div class="ui unstackable items" style="background:none;margin:0;">
      <div class="item" style="background:none;">
        <div class="image">
          <img src="{{ page.content.image.url }}" class="ui centered image" style="object-fit:contain;">
        </div>

        <div class="middle aligned content">
          <div class="ui huge header" style="text-transform:capitalize;">
            <div>
              {{ page.content.fullname_en }}
              <div class="sub header">
                <div>{{ page.content.fullname_kr }}</div>
              </div>
            </div>
          </div>
          <div class="meta" style="font-size:13px;">
            <span>{{ page.content.origin }}</span>
            <span>·</span>
            <span>{{ page.content.category }}</span>
          </div>
          <div class="description" style="font-size:13px;">
            <p></p>
          </div>
          <!-- <div class="extra" style="font-size:13px;">
            <a href="//{{ brand.website }}" target="_blank">{{ brand.website }}</a>
          </div> -->
        </div>
      </div>
    </div>

    <!-- <div style="background:none;position:absolute;transform:translate(-50%,-50%);right:-10px;top:30px;">
      <div class="bookmark-dropdown top right pointing ui dropdown">
        <input type="hidden" name="filters">
        <i class="bookmark big icon" style="color:rgba(248,0,0,1)"></i>
        <div class="menu">
          <div class="item" data-value="favorite">favorite</div>
          <div class="item" data-value="interest">interest</div>
          <div class="item" data-value="collection">collection</div>
        </div>
      </div>
    </div> -->
  </div>

</div>


<div style="width:100%;background:none;">
  <div class="ui text container">
    <div class="ui small compact button">Feeds</div>
    <div class="ui small compact button">Identity</div>
    <div class="ui small compact button">Similar brands</div>
    <div class="ui small compact button">Hashtags</div>
    <div class="ui small compact button">Trend</div>
  </div>
</div>


<div id="feeds" class="ui text container segments" style="border:none;">
  {% include feeds_template %}
</div>


<!-- <div class="ui text container segments" style="border:none;">
  {% for feed in brand.feeds %}
  <div class="detailsec ui padded segment">
    <div class="feed-menu ui secondary icon menu" style="background:none;">
      <div class="item" style="background:none;padding:5px;">
        {% include "app/user_avatar.html" with profile=feed.author %}
      </div>

      <div class="right compact menu">
        <a class="item" action="feed_like" onclick="toggle_action(this)">
          {% include "app/action_icon.html" with action_type="like" obj=post %}
        </a>

        <a class="item">
          <div class="share-dropdown top right pointing ui dropdown">
            <i class="large share alternate icon"></i>
            <div class="menu">
              <div class="item" data-value="kakaotalk">kakaotalk</div>
              <div class="item" data-value="facebook">facebook</div>
              <div class="item" data-value="instagram">instagram</div>
              <div class="item" data-value="linkurl">link url</div>
            </div>
          </div>
        </a>

      </div>
    </div>

    <p>{{ feed.content }}</p>

    {% if feed.feed_image %}
    <p>
      <img src='{{ feed.feed_image.url }}' style="max-width:80%;" class="ui centered image">
    </p>
    {% endif %}

    <p>
    {% for hashtag in feed.hashtags.all %}
      <a class="hashtag ui tiny label" href="#">{{ hashtag }}</a>
    {% endfor %}
    </p>

    <p style="font-size:10px;">{{ feed.timestamp }}</p>
  </div>
  {% endfor %}
</div> -->
{% endblock content %}


{% block js %}
  {{ block.super }}
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="{% static 'js/d3.layout.cloud.js' %}"></script>
  <script src="{% static 'js/wordcloud.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/lib/alea.min.js"></script>

  <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@4"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
  <!-- chartjs 바차트의 rounded bar를 만들어주는 플러그인
  https://github.com/jedtrow/Chart.js-Rounded-Bar-Charts -->
  <script src="{% static 'js/Chart.roundedBarCharts.min.js' %}"></script>
  <!-- <script src="{% static 'quantlab/bcard.js' %}"></script> -->
  <!-- <script src="{% static 'js/d3-components-0.0.5.js' %}"></script> -->
  <!-- <script src="{% static 'js/RadarChart.js' %}"></script> -->
  <script src="{% static 'js/radarChart.js' %}"></script>

  <script>
    // $(document).ready(function(){
    //   ContentLoader({
    //     data: {{ feeds | safe }},
    //     where: '#feeds',
    //     type: 'feed',
    //     n_init: 10,
    //     n_next: 5
    //   });
    // });

    function toggle_action(obj) {
      var action = $(obj).attr("action");
      var icons = $(obj).children(".action-icon");
      var state = icons.attr("state");

      var what = '{{ post.pk }}';
      var data;

      if (state=="add") {
        icons.attr("state", "remove");
        data = { action:action, remove:what };

      } else if (state=='remove') {
        icons.attr("state", "add");
        data = { action:action, add:what };
      };
    };
  </script>
{% endblock js %}
