{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}

{% block content %}
{% load ctags %}
<div class="ui text container segments" style="margin-top:10px;">

  <div class="ui segment">
    <div class="ui secondary icon menu" style="background:none;">
      <div class="item" style="background:none;padding:5px;">
        {% include "app/user_avatar.html" with user=post.user %}
      </div>

      <div class="right compact menu">

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="edit outline icon"></i>
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="trash alternate outline icon"></i>
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="comment alternate outline icon"></i>
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <!-- <i class="star outline icon"></i> -->
          {% if user.is_authenticated and user|likes_this:post %}
            <i class="star orange icon" style="stroke-width:1px !important;"></i>
            <!-- <i class="block-like-icon" data-feather="star" style="" state="like"></i> -->
          {% else %}
            <i class="star outline icon"></i>
            <!-- <i class="block-like-icon" data-feather="star" style="" state="dontlike"></i> -->
          {% endif %}
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="bookmark outline icon"></i>
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="share alternate icon"></i>
        </a>
      </div>
    </div>

  </div>

  <div class="ui padded segment">
    <div class="content" style="padding:20px;">
      <div class="image">
        <img src="{{ post.image.url }}" class="ui centered image">
      </div>

      <p>
        {{ post.content }}
      </p>

    </div>
  </div>

  <div class="ui padded segment">
    {% include "app/post_comment.html" %}
  </div>


  <div class="ui segment">
    <div class="ui secondary icon menu" style="background:none;">
      <div class="item" style="font-size:small;text-align:left;">
        created at {{ post.created_at }}
      </div>

      <div class="right compact menu">

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="edit outline icon"></i>
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="trash alternate outline icon"></i>
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="comment alternate outline icon"></i>
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="star outline icon"></i>
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="bookmark outline icon"></i>
        </a>

        <a class="item" style="border-radius:5px;margin:1px;width:36px;height:36px;display:flex;align-items:center;justify-content:center;padding:0;">
          <i class="share alternate icon"></i>
        </a>
      </div>
    </div>
  </div>

</div>

{% endblock content %}

{% block js %}
  {{ block.super }}

  <script>
  feather.replace();

  function empty() {
    var x = document.getElementById("id_comment").value;
    if (x == "") {
      return false;
    }
  }
  </script>
{% endblock js %}
