{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}


{% block content %}
{% load static %}
<div class="ui text container" style="text-align:center;margin-top:20px">

  <div style="background:none;margin-top:10px;margin-bottom:10px;text-align:right;">
    <div class="mypostonly ui toggle checkbox" style="float:left;background:none;margin-top:5px;">
      <input type="checkbox" id="mypostonly">
      <label for="mypostonly">My posts only</label>
    </div>

    <div class="ui icon tiny basic buttons">
      <button class="ui button" onclick="resize_blocks(1)"><i class="minus icon"></i></button>
      <button class="ui button" onclick="resize_blocks(-1)"><i class="plus icon"></i></button>
    </div>
    <a class="ui icon tiny basic button" href="{% url 'posting' %}">
      <i class="pencil alternate icon"></i>
    </a>

    <div style="clear:both;"></div>
  </div>

  <div class="blocks ui cards" id="posts"></div>
</div>
{% endblock content %}


{% block js %}
  {{ block.super }}
  <script>
    var url = "{% url 'blocks' %}?type=posts&screen={{ screen }}";
    load_blocks('#posts', url);


    $('.mypostonly.checkbox').checkbox({
      onChecked: function() {
        // url = "{% url 'posts_sub' %}?type=my";
        url = "{% url 'blocks' %}?type=posts&screen=my";
        load_blocks('#posts', url);
      },
      onUnchecked: function() {
        // url = "{% url 'posts_sub' %}?type=all";
        url = "{% url 'blocks' %}?type=posts&screen=all";
        load_blocks('#posts', url);
      }
    });
  </script>
{% endblock js %}
