{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}

{% block content %}
<style>
  .hashtag-img:hover {
    box-shadow: 0 0 0px 5px rgba(0,0,0,0.08) !important;
  }

  /* .menu-item { */
  .post-menu .item {
    border-radius: 20px !important;
    margin: 1px !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative;
  }

  .action-counter {
    position: relative;
    background: transparent !important;
    border-radius: 20px !important;
    /* width: 80px !important; */
    height: 40px !important;
    padding-top: 0 !important;
  }

  .action-counter:hover {
    background: rgba(220, 220, 220, .3) !important;
  }

  /* .overlay {
    transition: all 0.5s ease;
  }

  .fixed.overlay {
    position: fixed;
    top: 80px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: white;
    padding: 10px;
    border-radius: 5px;
  } */

  .action-icon {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
  }

  .action-icon-counter {
    color: black;
    background: none;
    height: 40px;
    padding-left: 15px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  [action="post_like"] .action-icon[state='add'] {
    fill: rgba(248,0,0,1);
    stroke-width: 2;
    color: black;
  }

  [action="post_bookmark"] .action-icon[state='add'] {
    fill: black;
    stroke-width: 2;
    color: black;
  }

  .brands-related .label {
    color: white;
    background: black;
    font-weight: normal;
  }
</style>


{% load widget_tweaks %}
<div class="body-content ui text container segments" style="margin-top:10px;">

  <div class="ui padded segment">

    <!-- <div class="overlay"> -->
      <div class="post-menu ui secondary icon menu" style="background:none;">
        <div class="item" style="background:none;padding:5px;">
          {% include "app/user_avatar.html" with user=post.user %}
        </div>

        <div class="right compact menu">
          <!-- <a class="item" action="post_like" onclick="toggle_action(this)">
            {% include "app/action_icon.html" with action_type="like" obj=post %}
          </a> -->

          <a class="item" action="post_collection" onclick="">
            {% include "app/action_icon.html" with action_type="collection" obj=post %}
          </a>

          <a class="item">
            <div class="share-dropdown top right pointing ui dropdown">
              <i class="large share alternate icon"></i>
              <div class="menu">
                <div class="item" data-value="kakaotalk">kakaotalk</div>
                <div class="item" data-value="facebook">facebook</div>
                <div class="item" data-value="instagram">instagram</div>
                <div class="item" data-value="linkurl">link url</div>
              </div>
            </div>
          </a>

          <a class="item" action="post_bookmark" onclick="toggle_action(this)">
            {% include "app/action_icon.html" with action_type="bookmark" obj=post %}
          </a>

        </div>
      </div>
    <!-- </div> -->

  </div>


  <div class="ui padded center aligned segment">
    <div class="image">
      <img src="{{ post.image.url }}" class="ui centered image">
    </div>

    <div class="ui section divider header" style="margin-left:25%;margin-right:25%;"></div>

    <div style="word-wrap:break-word;">
      <p>{{ post.content }}</p>

      <div class="action-counter ui button" action="post_like" onclick="toggle_action(this)" style="margin-left:auto;margin-right:auto;">
        {% include "app/action_icon.html" with action_type="like" obj=post counter='yes' %}
      </div>
    </div>

    <!-- <div style="background:yellow;"> -->

    <!-- </div> -->
  </div>


  <div class="ui padded segment">
    <div class="post-menu ui secondary icon compact menu" style="background:none;width:100%;">
      {% if user.is_authenticated and user == post.user %}
      <a class="item" href="{% url 'editpost' pk=post.pk %}">
        <i class="large edit outline icon"></i>
      </a>
      {% endif %}

      <div class="right compact menu">
        <a class="item" action="post_collection" onclick="">
          {% include "app/action_icon.html" with action_type="collection" obj=post %}
        </a>

        <a class="item">
          <div class="share-dropdown top right pointing ui dropdown">
            <i class="large share alternate icon"></i>
            <div class="menu">
              <div class="item" data-value="kakaotalk">kakaotalk</div>
              <div class="item" data-value="facebook">facebook</div>
              <div class="item" data-value="instagram">instagram</div>
              <div class="item" data-value="linkurl">link url</div>
            </div>
          </div>
        </a>

        <a class="item" action="post_bookmark" onclick="toggle_action(this)">
          {% include "app/action_icon.html" with action_type="bookmark" obj=post %}
        </a>
      </div>
    </div>

    <!-- {% if user.is_authenticated and user == post.user %}
    <a class="ui icon button" href="{% url 'editpost' pk=post.pk %}">
      <i class="large edit outline icon"></i>
    </a>
    {% endif %} -->
  </div>


  {% if post.brands_related.all %}
  <div class="ui padded segment">
    <div class="ui header">
      <div class="content">
        <!-- header에 설치된 폰트가 적용되려면, content로 싸아야한다.  -->
        Related brands
      </div>
    </div>

    <div class="content">
      <!-- {% for brand in post.brands_related.all %}
        <a href="{% url 'brand_detail' brand.name %}">
          <img class="hashtag-img ui circular image" src="{{ brand.logo.url }}" alt="{{ brand.name }}" style="object-fit:cover;width:50px;height:50px;background:white;display:inline-block;box-shadow:0 0 5px rgba(0,0,0,0.15);margin:3px;">
        </a>
      {% endfor %} -->

      <div class="brands-related ui search dropdown selection multiple" style="border:none;background:none;">
        {% for brand in post.brands_related.all %}
          <a class="ui label" href="{% url 'brand_detail' brand.name %}">{{ brand }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}


  <div class="ui padded segment" id="comment">
    {% include "app/post_comment.html" %}
  </div>

  <div class="ui right aligned segment">
    <div class="post-master-dropdown ui icon top right pointing dropdown compact button" style="background:none;">
      <i class="ellipsis horizontal icon"></i>
      <div class="menu">
        {% if user.is_authenticated and user == post.user %}
        <div class="item" onclick="ask_delete_post('{{post.pk}}')">포스트 삭제하기</div>
        {% endif %}
        <div class="item">신고하기</div>
        <div class="item">추가정보</div>
      </div>
    </div>
  </div>

</div>

{% include "app/more_info.html" %}

<div style="font-size:small;text-align:center;">
  created at {{ post.created_at }}
</div>

{% endblock content %}



{% block js %}
  {{ block.super }}

  <script>
  feather.replace();

  $('.share-dropdown').dropdown();
  $('.post-master-dropdown').dropdown({
    direction: 'upward',
    action: 'hide'
  });

  function ask_delete_post(post_pk) {
    open_more_info('#delete-post', post_pk);
  };

  function ask_delete_commentpost(comment_pk) {
    open_more_info('#delete-commentpost', comment_pk);
  };

  // $('.overlay').visibility({
  //   type: 'fixed',
  //   offset: 15
  // });


  function toggle_action(obj) {
    var action = $(obj).attr("action");
    // var icon = $(obj).children(".action-icon");
    var icons = $('[action=' + action + ']').children(".action-icon");
    var state = icons.attr("state");

    var what = '{{ post.pk }}';
    var data;

    if (state=="add") {
      icons.attr("state", "remove");
      data = { action:action, remove:what };

    } else if (state=='remove') {
      icons.attr("state", "add");
      data = { action:action, add:what };
    };

    update_actions(data);
  };


  function update_actions(data) {
    $.ajax({
      url: '/actions/',
      async: true,
      type: 'GET',
      data: data,
      dataType: 'json',
      success: function(jqXHR) {
        if (!jqXHR.success) {
          alert("데이터를 처리하는데 문제가 발생하였습니다.");
        };
      }
    });
  }
  </script>
{% endblock js %}
