{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}

{% block content %}
{% load ctags %}
<style>
  .hashtag-img:hover {
    box-shadow: 0 0 0px 5px rgba(0,0,0,0.08) !important;
  }

  .post-menu .item {
    border-radius: 5px !important;
    margin: 2px !important;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* background: lightgreen !important; */
  }

  .overlay {
    transition: all 0.5s ease;
  }

  .fixed.overlay {
    position: fixed;
    top: 80px !important;
    /* margin-left: auto !important;
    margin-right: auto !important; */
    /* left: 0 !important;
    right: 0 !important; */
    /* transform: translateX(-50%) !important; */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: white;
    padding: 10px;
    border-radius: 5px;
  }

  .post-like-icon[state='like'] {
    color: rgba(248,0,0,1);
  }

  .post-like-icon[state='dontlike'] {
  }
</style>



<div class="body-content ui text container segments" style="margin-top:10px;">

  <div class="ui segment">

    <div class="overlay">
      <div class="post-menu ui secondary icon menu" style="background:none;">
        <div class="item" style="background:none;padding:5px;">
          {% include "app/user_avatar.html" with user=post.user %}
        </div>

        <div class="right compact menu">

          {% if user.is_authenticated and user == post.user %}
          <a class="item" href="{% url 'editpost' pk=post.pk %}">
            <i class="large edit outline icon"></i>
          </a>

          <!-- 포스트 제거 경고 메시지 띄울것 -->
          <a class="item" href="{% url 'deletepost' pk=post.pk %}">
            <i class="large trash alternate outline icon"></i>
          </a>
          {% endif %}

          <a class="item">
            <div class="share-dropdown top right pointing ui dropdown">
              <i class="large share alternate icon"></i>
              <div class="menu">
                <div class="item" data-value="kakaotalk">kakaotalk</div>
                <div class="item" data-value="facebook">facebook</div>
                <div class="item" data-value="instagram">instagram</div>
                <div class="item" data-value="linkurl">link url</div>
              </div>
            </div>
          </a>

          <a class="item" href="#comment">
            <i class="large comment alternate outline icon"></i>
            <div class="floating ui teal circular mini label" style="transform:translate(-3px,3px)">3</div>
          </a>

          <a class="post-like item" onclick="toggle_like(this)">
            {% if user.is_authenticated and user|likes_this:post %}
              <i class="post-like-icon large bookmark icon" state="like"></i>
            {% else %}
              <i class="post-like-icon large bookmark outline icon" state="dontlike"></i>
            {% endif %}

            <div class="floating ui teal circular mini label" style="transform:translate(-3px,3px)">3</div>
          </a>

        </div>
      </div>
    </div>

  </div>


  <div class="ui very padded center aligned segment">
    <div class="content">
      <div class="image">
        <img src="{{ post.image.url }}" class="ui centered image">
      </div>

      <div class="ui section divider header" style="margin-left:25%;margin-right:25%;"></div>

      <div style="word-wrap:break-word;">
        <p>{{ post.content }}</p>
      </div>

      <div class="ui hidden section divider" style="margin-left:25%;margin-right:25%;"></div>

      <div>
        <i class="big hashtag icon"></i>

        {% for hashtag in post.hashtags.all %}
          <a href="{% url 'brand_detail' hashtag.name %}">
            <img class="hashtag-img ui circular image" src="{{ hashtag.logo.url }}" alt="{{ hashtag.name }}" style="object-fit:cover;width:50px;height:50px;background:white;display:inline-block;box-shadow:0 0 5px rgba(0,0,0,0.15);margin:3px;">
          </a>
        {% endfor %}
      </div>

    </div>
  </div>

  <div class="ui padded segment" id="comment">
    {% include "app/post_comment.html" %}
  </div>
</div>

<div style="font-size:small;text-align:center;">
  created at {{ post.created_at }}
</div>

{% endblock content %}



{% block js %}
  {{ block.super }}

  <script>
  // feather.replace();
  $('.share-dropdown').dropdown();

  function empty() {
    var x = document.getElementById("id_comment").value;
    if (x == "") {
      return false;
    }
  }

  $('.overlay').visibility({
    type: 'fixed',
    offset: 15
  });


  function toggle_like(obj) {
    console.log(1);
    var icon = $(obj).children(".post-like-icon");
    var state = icon.attr("state");

    var what = '{{ post.pk }}'
    var type = 'post';
    var data;

    if (state=="like") {
      icon.attr({
        "state": "dontlike",
        "class": "post-like-icon large bookmark outline icon"
      });
      data = { type:type, dontlike:what };

    } else {
      icon.attr({
        "state": "like",
        "class": "post-like-icon large bookmark icon"
      });
      data = { type:type, like:what };
    };

    update_likes(data);
  };


  function update_likes(data) {
    $.ajax({
      url: '/update_likes/',
      async: true,
      type: 'GET',
      data: data,
      dataType: 'json',
      success: function(jqXHR) {
        if (!jqXHR.success) {
          alert("데이터를 처리하는데 문제가 발생하였습니다.");
        };
      }
    });
  }

  </script>
{% endblock js %}
