{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}

{% block content %}
<div class="ui text container segments" style="margin-top:20px;">

  <div class="ui padded segment">
    <div class="ui header">포스팅하기</div>
    <div class="content">
      <form class="ui form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- {{ form.as_p }} -->

        <div class="field">
          <label>Image upload</label>
          <input id="id_image" type="file" name="image" onchange="upload_img(this)">
          <div style="background:none;text-align:center;margin-top:10px;display:none;">
            <img id="img_uploaded" src="#" alt="image uploaded" style="width:80%;height:auto;" />
          </div>
        </div>

        <div class="field">
          <textarea id="id_content" name="content"></textarea>
        </div>

        {{ form.hashtags }}
        <!-- <div class="field">
          <select id="id_hashtags" name="hashtags" multiple=""></select>
        </div> -->

        <button class="ui button" type="submit">Save</button>
      </form>
    </div>
  </div>

</div>
{% endblock content %}

{% block js %}
  {{ block.super }}

  <script>
    $('#id_hashtags').dropdown();

    function upload_img(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $("#img_uploaded").attr("src", e.target.result);
          $("#img_uploaded").parent().css("display", "block");
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
{% endblock js %}
