{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with discover_act="active" %}
{% endblock menu_top %}

{% block content %}
<style>
  .ui.search.dropdown a.ui.label {
    color: white;
    background: black;
    font-weight: normal;
  }
</style>

{% load widget_tweaks %}
<div class="ui text container segments" style="margin-top:20px;">

  <div class="ui padded segment">
    <div class="ui header">포스팅하기</div>
    <div class="content">
      <form class="ui form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="field">
          <label>Image upload</label>
          {% render_field form.image onchange="upload_img(this)" %}
          <div style="background:none;text-align:center;margin-top:10px;display:none;">
            <img id="img_uploaded" src="#" alt="image uploaded" style="width:80%;height:auto;" />
          </div>
        </div>

        <div class="field">
          <!-- <textarea id="id_content" name="content"></textarea> -->
          {% render_field form.content %}
        </div>

        <div class="field">
          <label>Related brands</label>
          {% render_field form.brands_related class="ui search dropdown" %}
        </div>

        <button class="ui button" type="submit">Save</button>
      </form>
    </div>
  </div>

</div>
{% endblock content %}

{% block js %}
  {{ block.super }}

  <script>
    $("form").bind("keypress", function(e) {
      if (e.keyCode == 13) {
        return false;
      }
    });

    $('#id_brands_related').dropdown({
      onNoResults: function(searchValue) {
        console.log(searchValue);
      },
      // onAdd: function(addedValue, addedText, $addedChoice) {
      //   return false;
      // },
      // onChange: function(value, text, $choice) {
      //   console.log(value);
      //   console.log(text);
      //   console.log($choice);
      // },
      // action: function(text, value) {
      //   console.log($('.sizer').text());
      //   if ($('.sizer').text() != '') {
      //     $(this).dropdown('set selected', value);
      //   }
      // },
      showOnFocus: false,
      // allowAdditions: true,
      fullTextSearch: true
      // allowTab: false,
      // forceSelection: false,
      // selectOnKeydown: false
    });

    function upload_img(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $("#img_uploaded").attr("src", e.target.result);
          $("#img_uploaded").parent().css("display", "block");
        }

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
{% endblock js %}
