{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with rating_act="active" %}
{% endblock menu_top %}


{% block content %}
<style>
  .ui.segment:hover {
    opacity:0.5;
  }
</style>

  {% load ctags %}
  <div class="ui text container">
    {% for pair in pairs %}
      <div class="ui horizontal segments">
        {% for brand in pair|of_name %}
          <a class="ui center aligned segment" href="#">
            <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" style="object-fit:contain;width:120px;height:120px;margin:auto;border-radius:4px !important;">
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}


{% load static %}
{% block js %}
  {{ block.super }}
{% endblock js %}
