{% extends "app/layout.html" %}

{% block menu_top %}
  {% include "app/menu_top.html" with rating_act="active" %}
{% endblock menu_top %}


{% block content %}
  <div class="ui text container">
    {% include page_template %}
  </div>
{% endblock content %}


{% load static %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>
    $.endlessPaginate({
      paginateOnScroll: true,
      paginateOnScrollMargin: 100,
    });
  </script>
{% endblock js %}
