<div id="searcher" style="background:white;width:100%;height:100%;padding:10px;position:absolute;left:0;bottom:100%;transform:translate(0%,0%);">

  <!-- <div id="search-hider" class="ui icon compact big button" style="background:none;float:left;">
    <i class="arrow up icon"></i>
  </div> -->

  <div style="background:none;">
    <div class="ui fluid search" style="background:none;">
      <div class="ui fluid transparent left icon input" style="position:relative;height:40px;font-size:20px;">
        <i class="search icon"></i>

        {% if brands.qry %}
          <input class="bsearch prompt" type="text" value="{{ brands.qry }}" name="q" oninput="show_submit(this)">
        {% else %}
          <input class="bsearch prompt" type="text" placeholder="Search" name="q" oninput="show_submit(this)">
        {% endif %}

        <!-- <button class="bsearch-submit ui icon compact big button" type="submit" style="background:none;opacity:0;">
          <i class="search icon"></i>
        </button> -->

        <a id="show-library" class="ui icon compact big button" style="background:none;opacity:1;" href="{% url 'blocks' %}?type=allbrands">
          <i class="th icon"></i>
        </a>

        <div id="search-hider" class="ui icon compact big button" style="background:none;opacity:1;">
          <i class="arrow up icon"></i>
        </div>

      </div>
      <div class="results"></div>
    </div>
  </div>

</div>
