{% extends "layout.html" %}

{% block menu_top %}
  {% include "menu_top.html" with sharing_act="active" %}
{% endblock menu_top %}

{% block content %}
  {% include "brand_detail_content.html" %}
{% endblock content %}


{% load static %}
{% block js %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

  <!-- chartjs 바차트의 rounded bar를 만들어주는 플러그인
  https://github.com/jedtrow/Chart.js-Rounded-Bar-Charts -->
  <script src="/static/js/Chart.roundedBarCharts.min.js"></script>

  <script>
    function append_table_row(id, query_data){
      var btn = document.createElement('button');
      btn.className = "ui green mini compact right aligned button";
      btn.style.width = (query_data.value*0.9).toString()+"%";
      btn.style.borderRadius = "0 20px 20px 0";
      btn.append(query_data.value);

      var td_query = document.createElement('td');
      td_query.className = "right aligned eight wide";
      // td_query.addClass("right aligned eight wide");
      // td_query.classList.add("right aligned eight wide");
      td_query.append(query_data.key);

      var td_value = document.createElement('td');
      td_value.className = "eight wide";
      td_value.style.padding = "0px";
      td_value.append(btn);

      var tr = document.createElement('tr');
      tr.append(td_query, td_value);
      // return tr;
      $(id).append(tr);
    };

    $(document).ready(function(){
      // $('.ui.rating').rating();
      // $('#multi-select').dropdown();

      $.get('{% url "gtrend" brand.name %}', function(data){
        var ctx1 = $("#trend").get(0).getContext("2d");
        new Chart(ctx1, data.trend_data);

        // var ctx2 = $("#q_top").get(0).getContext("2d");
        // new Chart(ctx2, data.q_top_data);
        //
        // var ctx3 = $("#q_rising").get(0).getContext("2d");
        // new Chart(ctx3, data.q_rising_data);

        data.query_top_data.forEach(function(query_data){
          append_table_row('#query_top', query_data);
        });

        data.query_rising_data.forEach(function(query_data){
          append_table_row('#query_rising', query_data);
        });
      });

      $.get('{% url "identities" brand.name %}', function(data){
        data.idty.forEach(function(idty_data){
          append_table_row('#identities', idty_data);
        });
      })

    });
  </script>
{% endblock js %}
