{% extends "layout.html" %}

{% block menu_top %}
  {% include "menu_top.html" with sharing_act="active" %}
{% endblock menu_top %}

{% block content %}
<div class="ui text container">

  <div class="ui five stackable doubling brandlist cards">
    {% for brand in brands %}

      <a class="card" style="padding:5px" href="/brands/{{brand.name}}">
        <div class="blurring dimmable image" style="background:transparent;margin:auto;">
          <div class="ui inverted dimmer">
            <div class="content">
              <div class="center">
                <div style="color:black">{{ brand.name }}</div>
              </div>
            </div>
          </div>

          <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" style="object-fit:contain;width:110px;height:110px;margin:auto;border-radius:0 !important;">
        </div>
      </a>

    {% endfor %}
  </div>

  <!-- <div class="ui divider"></div> -->

</div>
{% endblock content %}


<br>

{% block js %}
  {{ block.super }}
  <script>
    $('.brandlist.cards .image').dimmer({
      on: 'hover'
    });
  </script>
{% endblock js %}
