<style>
  text:hover {
    fill: black !important;
    font-weight: bold;
  }
</style>

<div style="position:fixed;top:50%;z-index:100">
  <i class="green angle left huge icon link" onclick="window.history.back()"></i>
</div>


<div class="ui text container">

  <img src="{{brand.logo.url}}" alt="{{brand.name}}" class="ui centered image" style="padding:10px;height:300px">
  <br>
  <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
  <div class="sub header">{{brand.name}}</div>

  <!-- <div class="ui fluid card">
    <div class="content">
      <div class="header">평가1안</div>
      <div class="meta">장단점 코멘트</div>
    </div>
    <div class="content">
      <div class="ui small feed">

        <select name="brand_identity" class="ui fluid selection dropdown" multiple="" id="multi-select">
          <option value="">States</option>
          <option value="1">가성비좋은</option>
          <option value="2">저렴한</option>
          <option value="3">개성있는</option>
          <option value="4">무난한</option>
          <option value="5">스타일리쉬한</option>
          <option value="6">새로운</option>
        </select>

        <br>

        <div class="ui form">
          <div class="field">
            <label>장점</label>
            <textarea rows="2"></textarea>
          </div>
          <div class="field">
            <label>단점</label>
            <textarea rows="2"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div> -->


  <!-- <div class="ui fluid card">
    <div class="content">
      <div class="header">종합평가</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <p>블라블라</p>
        <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
      </div>
    </div>
  </div> -->

  <!-- <div class="ui fluid card">
    <div class="content">
      <div class="header">Brand identity</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <table class="ui very basic fixed selectable unstackable very compact table">
          <tbody id="identities"></tbody>
        </table>
      </div>
    </div>
  </div> -->

  <div class="ui fluid card">
    <div class="content">
      <div class="header">Brand identity</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <table class="ui very basic fixed selectable unstackable very compact table">
          <tbody>
            {% for idty in brand.identity %}
              <tr>
                <td class="right aligned four wide">{{idty.key1}}</td>
                <td class="eight wide" style="background:#eaeded;padding:0 10% 0 10%">
                  <button class="ui green icon button" style="margin-left:{{idty.value}}%"></button>
                </td>
                <td class="left aligned four wide">{{idty.key0}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- <div class="ui fluid card">
    <div class="content">
      <div class="header">Brand identity</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <table class="ui very basic fixed selectable unstackable very compact table">
          <tbody>
            {% for idty in brand.identity %}
              <tr>
                <td class="right aligned eight wide">{{idty.key}}</td>
                <td class="eight wide" style="padding:0 5% 0 0">
                  <button class="ui green mini compact right aligned button" style="border-radius:0 20px 20px 0;width:{{idty.value}}%">{{idty.value}}</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div> -->

  <div class="ui fluid card">
    <div class="content">
      <div class="header">느낌이 비슷한 브랜드들</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">

        <div class="ui five doubling brandlist cards">
          {% for sbrand in simbrands %}
            <a class="card" style="padding:5px" href="/brands/{{sbrand.name}}">
              <div class="blurring dimmable image" style="background:transparent;margin:auto;">
                <div class="ui inverted dimmer">
                  <div class="content">
                    <div class="center">
                      <div style="color:black">{{ sbrand.name }}</div>
                    </div>
                  </div>
                </div>
                <img src="{{ sbrand.logo.url }}" alt="{{ sbrand.name }}" style="object-fit:contain;width:110px;height:110px;margin:auto;border-radius:0 !important;">
              </div>
            </a>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">연관된 단어</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div id="wordcloud" style="text-align:center"></div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">{{brand.name}}의 장단점</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <p>블라블라</p>
      </div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">{{brand.name}}에 대한 관심도 추이</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <p>블라블라</p>
        <canvas id="trend"></canvas>
      </div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">{{brand.name}} 관련 상위 검색어</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <table class="ui very basic fixed selectable unstackable very compact table">
          <tbody id="query_top"></tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">{{brand.name}} 관련 급등 검색어</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <table class="ui very basic fixed selectable unstackable very compact table">
          <tbody id="query_rising"></tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- <div class="ui fluid card">
    <div class="content">
      <div class="header">{{brand.name}} 관련 검색어</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <p>블라블라</p>
        <div class="ui placeholder">
          <canvas id="q_top"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">{{brand.name}} 평가의 변동</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <p>블라블라</p>
        <canvas id="q_rising"></canvas>
      </div>
    </div>
  </div> -->

  <div class="ui fluid card">
    <div class="content">
      <div class="header">임동석님의 {{brand.name}} 평가이력</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <p>블라블라</p>
      </div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">{{brand.name}}와 함께 검색한 키워드</div>
      <div class="meta">2 days ago</div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <p>블라블라</p>
      </div>
    </div>
  </div>

  <br>

  {% include "brand_comment.html" %}

</div>
<br>
