{% extends "layout.html" %}

{% block menu_top %}
  {% include "menu_top.html" with discover_act="active" %}
{% endblock menu_top %}

{% block content %}
<div class="ui text container">
  <div class="ui five doubling brandlist cards">
    {% include page_template %}
  </div>
</div>
{% endblock content %}


{% load static %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script>
    $(document).ready(function(){
      $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 100,
      });

      $('.brandlist.cards .image').dimmer({
        on: 'hover'
      });

    });
  </script>
{% endblock js %}
