{% extends "layout.html" %}

{% block content %}


<!-- <div class="infinite-scroll"> -->
{% for brand in brands %}
<a href="/brand/{{brand.name}}">
  <div class="card py-3 border-right-0 border-left-0 border-top-0">
    <!-- <div class="row">
      <div class="col text-center">
        <div style="height:150px"><img src="{{brand.logo.url}}" class="w-100 my-2"></div>
        <input class="rating-loading" id="input-id" name="input-name" type="number">
      </div>

      <div class="col">
        <div class="card-body">
          <h4><b>{{brand.name}}</b></h4>
          <div>{{brand.category}}</div>
          <div>{{brand.price}}</div>
          <div>{{brand.origin}}</div>
        </div>
      </div>
    </div> -->

    <div class="card-body text-center">
      <img src="{{brand.logo_url}}" class="mx-auto d-block" style="max-height:250px;max-width:60%;width:auto;">
      <input class="rating-loading" id="input-id" name="input-name" type="number">
    </div>
    <div class="next"><a href="contents.php?mode=auto&page=2" class="nextPage">다음 페이지</a></div>
  </div>
</a>
{% endfor %}
{% endblock %}
